[2014-03-26 19:05] xqiu opened #6 "We should make file strucuture and content as much same as possible between projectK musicstore and MVC musicstore"
We should make file strucuture and content as much same as possible between projectK musicstore and MVCMusicstore.  So that I can easily do a windiff to see the difference, and easily design tool for migration

Right now, it's hard to read the differences between two apps.  Especially:
1. K musicstore doesn't have a app_start folder
2. Controller's don't even perform the same actions  (is this bec

[2014-04-26 00:14] Praburaj opened #56 "EF fails with an exception on net45"
@ajcvickers @rowanmiller - Could you have a look?

EF fails with an exception on net45.

[code]

[2014-04-28 02:46] #56 closed, assigned to nobody

[2014-04-28 15:49] avanderhoorn opened #57 "All external resources are returning 500s"
When trying to run the sample all external resources are returning 500s:

![musicstoreprojectk](https://cloud.githubusercontent.com/assets/585619/2819269/aa25f238-ceec-11e3-904b-2d37aa6b5cac.png)

[2014-04-28 21:01] #57 closed, assigned to nobody

[2014-04-29 16:04] victorhurdugaci opened #67 "Bad practice in how Music Store uses DI"
The MusicStore app is using a concrete implementation in all places where the data context is injected:

Startup.cs:

[code]

Checkout.cs:

[code]

This is a bad practice and we don't want our customers to do DI this way because:
1. It creates a strong coupling between MusicStoreContext and its consumers
2. Unit testing is hard; i.e. you have to create a MusicStoreContext in order to test the cont

[2014-05-10 19:11] victorhurdugaci opened #101 "Cannot access shopping cart on NET45 (exception from EF)"
cc @Praburaj

In MusicStore (NET45, Helios or selfhost), try to add an item to the shopping cart.

You get:

[code]

[2014-05-11 17:08] #101 closed, assigned to nobody

[2014-05-12 19:24] kanchanm opened #105 "Checkout not working"
1. Clone MusicStore
2. K restore
3. Run MusicStore
4. Add an album to the cart
5. Checkout
6. Fill out all the details
7. Hit Submit

Expected: Checkout completes
Observed: Comes back with the the same page

[2014-05-12 22:22] kanchanm opened #108 "Deleting an album present in your cart breaks music store"
This is an issue with the application itself. If you happen to delete an album which is in your cart it breaks music store and navigating to any path throws the following:

[code]

[2014-05-13 21:45] ranjanmadhu opened #112 "kpm restore not working for MvcMusicStore.Spa"

[2014-05-16 02:15] rustd opened #114 "Update for latest refactoring"
Update to the latest changes for DI options and Identity extension methods

[2014-05-21 00:28] xqiu opened #117 "Scripts/_references.js should reference js file relatively, not with full path"
https://github.com/aspnet/MusicStore/blob/master/src/MusicStore/Scripts/_references.js should reference js file relatively, not with full path.  It currently have lines like following:

[code]

[2014-05-21 23:37] kanchanm opened #121 "Update helios.cmd to run IIS Express from ProgramFiles folder for 64-bit"
This applies to all our samples but opening it in this repo - Currently helios.cmd launches IIS Express from ProgramFiles(x86) so Helios requires one to install x86 kre even on 64-bit machines. We should update helios.cmd to launch iisexpress from ProgramFiles.

Even better but lower pri as this is simply a helper for now - we could detect the flavor of kre installed and pick from ProgramFiles(x86

[2014-05-22 22:32] javiercn opened #125 "Consider avoid using the view bag in the login action"
In the Login action: If you already have gone to the effort of writing a class to explicitly represent all the information that you want to render on the view, why put the ReturnUrl on the ViewBag (where isn't strongly typed) instead of putting it directly on the LoginViewModel?

[2014-06-11 10:48] DanAtkinson opened #149 "Create a live demo version"
It'd be really nice if you would be able to publish the music store website on the web, presumably on Azure.

[2014-06-20 21:41] lucamorelli opened #157 "how can I run MusicStore.spa?"
Hi, I tried to open musicstore.spa in dev 14 ctp 1 and I'm unable to compile and run, and I have problems running k run and k web.
AM I missing something?

[2014-07-02 21:55] DamianEdwards opened #159 "MusicStore project doesn't run on machine with only VS14 due to localdb instance name"
The MusicStore project is configured to use a localdb instance called `v11.0`. This instance only exists on machines that have or have had VS 2013 installed on them at some point. This causes the MusicStore to fail on machines with only VS14 on them.

VS14 comes with two instances of localdb configured by default:
- ProjectsV12
  - this one shows up SQL Server Object Explorer by default
- MSSQLLoc

[2014-07-03 19:45] #159 closed, assigned to Praburaj

[2014-07-03 19:59] #105 closed, assigned to nobody

[2014-07-03 20:04] #67 closed, assigned to nobody

[2014-07-03 20:06] #114 closed, assigned to HaoK

[2014-07-03 20:07] #112 closed, assigned to nobody

[2014-07-28 03:18] c0state opened #179 "Project.json needs to be lowercase to work in non Windows environments"
MusicStore\src\MusicStore.Spa\Project.json should be lowercase to work in mono under OS X and Linux (case sensitive file systems), no?

[2014-07-30 15:48] #179 closed, assigned to nobody

[2014-07-30 15:48] #108 closed, assigned to nobody

[2014-08-08 21:36] kirthik opened #189 "Remove item from cart and it still shows 1 at the top"
![image](https://cloud.githubusercontent.com/assets/1267650/3863093/12630d84-1f44-11e4-9089-ea2af81a8b5e.png)

[2014-08-20 18:36] lucamorelli opened #193 "how is muscistore supporting kestrel?"
The home page of the repository tells that music store supports Running using kestrel but I don't see any reference.
How it works?

[2014-08-20 20:45] #193 closed, assigned to nobody

[2014-08-21 05:30] caserzer opened #195 "missing bower_components folder for the SPA projects"

[2014-09-09 08:02] troydai opened #218 "Two Set-Cookie headers are sent when the cookies in browser is cleared."
## Repo
1. Clear the browser's cookie.
2. Navigate to /Account/Login
   <Error>
   Two different cookies for __RequestVerificationToken is returned in response:

[code]
## Impact

I notice this issue from the performance test. The first login always failed, while the later requests will pass. The `HttpClient` will pick up the second value for the `__RequestVerificationToken` as a result it doesn't

[2014-09-09 16:49] #218 closed, assigned to nobody

[2014-09-11 19:40] evilz opened #223 "MissingMethodException: Method not found: 'Void"
hi team,

I can't display pages using VS14 CTP3.

Here the stack, I can debug startupand controller, seem to be dynamic compilation on razor

An unhandled exception occurred while processing the request.

MissingMethodException: Method not found: 'Void Microsoft.CodeAnalysis.CSharp.CSharpCompilationOptions..ctor(Microsoft.CodeAnalysis.OutputKind, System.String, System.String, System.String, System

[2014-09-18 02:55] #223 closed, assigned to nobody

[2014-09-23 13:52] ivlists opened #238 "Build failing on Master branch"
Build is **failing** on Master branch (so does on Dev)
1. Run Build.cmd
2. Package restore successful.
3. K version installed and use - 1.0.0-alpha4-10353
4. Project 'MusicStore' is getting failed.
5. Rest all projects (SPA and MVC) are building properly.

Few points from the Build log :

<code>E:\Git\MusicStore\src\MusicStore\Models\MusicStoreContext.cs(12,18): error CS0311: The type 'MusicStore.

[2014-09-23 16:24] #238 closed, assigned to nobody

[2014-10-09 22:54] HaoK opened #253 "Test are flaky when run locally via ./build"
MusicStores tests consistently fail for me when run locally via ./build even when passing on CI.  Some combination of clean/upgrade/rerun eventually gets them to pass.

Ideally ./build.cmd should run cleanly always

[2014-10-11 14:10] ChristianWeyer opened #255 "k kestrel on MacOS X throws - MusicStore does not run"
This is the stack trace when running k kestrel:

Microsoft.Framework.Runtime.Roslyn.RoslynCompilationException: /Users/christianweyer/GitHub/MusicStore/src/MusicStore/Startup.cs(35,17): error CS1061: 'Microsoft.AspNet.Builder.IApplicationBuilder' does not contain a definition for 'SetDefaultSignInAsAuthenticationType' and no extension method 'SetDefaultSignInAsAuthenticationType' accepting a first

[2014-10-13 13:44] Venomed opened #256 "MusicStore.Spa.Startup throws 'System.ArgumentException' occurred in Microsoft.AspNet.FileSystems.dll"
Just cloned this repository and first thing I see on Spa project [Startup.cs](https://github.com/aspnet/MusicStore/blob/master/src/MusicStore.Spa/Startup.cs#L68) run is:

*An exception of type 'System.ArgumentException' occurred in Microsoft.AspNet.FileSystems.dll but was not handled in user code*
Additional information: *The path must be absolute.*

[2014-10-22 17:56] victorhurdugaci opened #266 "Bad layout for medium width page"
The page header overlaps the content when you have a medium width page:

![untitled](https://cloud.githubusercontent.com/assets/5921642/4741265/b545e386-5a14-11e4-8da5-5ba6851b9812.png)

[2014-10-30 18:39] DamianEdwards opened #267 "Upgrade to Angular 1.3"
Currently blocked by issue in angular-ui-bootstrap with the modal directive (they haven't released an update for 1.3 yet)
- [ ] Update to new form validation pattern (ng-messages, etc.)
- [ ] Remove custom focus directive and use built-in one
- [ ] Remove custom form submitted directive and use built-in one

[2014-10-30 18:41] DamianEdwards opened #268 "Use DTOs for APIs"
The web APIs should use DTOs instead of the EF entities to ensure explicit binding.

Validation should be inherited from the EF entities however, to avoid duplication.

[2014-10-30 18:45] DamianEdwards opened #269 "Configure grunt for release build"
Configure grunt correctly to produce a release build with minified JS, CSS, optimized images, etc.

[2014-10-30 18:47] ianhong opened #270 "Need to flatten some of Java Script client components"
Because of the long file paths that Node uses within MusicStore, coping/zipping the MusicStore sources doesn't work. It will make it difficult to share the MusicStore sources within a small team after updating them.

I think we should flatten some of Java script client components.

[2014-10-30 18:47] DamianEdwards opened #271 "Continuously deploy the Spa to an Azure web site for testing"

[2014-10-30 18:51] DamianEdwards opened #272 "Create Angular Tag Helpers to replace the Html Helpers"
Create Tag Helper equivalents of the Angular Html Helpers and use those

[2014-10-30 18:55] DamianEdwards opened #273 "Add search capability to the admin screen to filter the album list"

[2014-10-30 18:56] DamianEdwards opened #274 "Add support for uploading album image in admin"
You can currently specific a URL only. Add ability to allow upload of image file on the edit album admin form

Once done, create new issue to support drag/drop file upload too.

[2014-10-30 18:59] DamianEdwards opened #275 "Update to latest TypeScript"
Currently blocked by grunt-typescript. Looked at grunt-ts but it doesn't support compiling multiple file-sets simultaneously (within a single grunt target).

[2014-10-30 19:03] DamianEdwards opened #276 "Move login/account views to Pages & PageController"
Because I really don't like views

[2014-10-30 23:39] DamianEdwards opened #277 "Handle EF exceptions nicely"
Handle EF exceptions nicely and display something useful in the app, e.g.:
- Missing record
- Key violations
- Concurrency exceptions

[2014-10-30 23:41] DamianEdwards opened #278 "Detect when app is in debug environment and disable XHR timeouts"
Currently when you start debugging the server the client code quickly hits XHR timeouts. The app should detect when your debugging or in debug more (whatever) and configure a much longer (infinite?) XHR timeout in Angular's $http service provider.

[2014-10-31 19:28] DamianEdwards opened #279 "Add transition animations/screens"
The app sometimes appears to do be doing nothing as it's waiting for XHR API calls to complete. We should add some sort of transition & pending operation visual states to make this nicer.

[2014-11-13 09:53] tugberkugurlu opened #284 "PathTooLongException when running on VS 2015 Preview"
I cannot run MusicStore on my machine with Visual Studio 2015 Preview. It gives me the below error. I am getting this error for almost all projects where I use node_modules (even if exclude bower and npm paths):

![image](https://cloud.githubusercontent.com/assets/328122/5026327/a0d608cc-6b2b-11e4-9695-8805cfd0cd4d.png)

[2014-11-14 20:15] suhasj opened #285 "Reduce the number startup classes for musicstore"
Making a single change to Startup needs to be done in all the other startup classes. We can make this experience better

[2014-11-18 22:33] IDisposable opened #286 "You might want to regen your keys"
http://typecastexception.com/post/2014/04/06/ASPNET-MVC-Keep-Private-Settings-Out-of-Source-Control.aspx

http://rosspenman.com/api-key-exposure/

[2014-11-18 23:15] DamianEdwards opened #287 "Investigate using TypeScript Definition Manger (TSD) instead of dt-* bower packages"
https://www.npmjs.org/package/tsd
https://github.com/DefinitelyTyped/grunt-tsd

Apparently this is the new hotness for managing TypeScript definitions directly from the Definitely Typed repo without using a package manager (e.g. NuGet or Bower).

[2014-11-19 01:05] #268 closed, assigned to nobody

[2014-11-19 01:19] #267 closed, assigned to nobody

[2014-11-21 02:33] HaoK opened #292 "Reenable Music store tests"
Fallback hosting changes appear to have broken the Smoke tests, they appear to work in that they are calling functionality, but the tests all fail at the end, I've disabled the tests for now.

[2014-11-21 19:24] #292 closed, assigned to nobody

[2014-11-27 14:59] m-ghaoui opened #295 ""Out of Memory" when running kpm restore on Linux"
[code]

[2014-12-07 16:21] rosieks opened #302 "Add some TypeScript tests"
It would be nice to have some unit tests for TypeScript code in spa project.

[2014-12-10 07:44] gavdraper opened #304 "Could not load type 'Microsoft.Framework.DependencyInjection.ServiceCollection'"
When running the music store project on OSX with KVM version 1.0.0-beta1 and Mono 3.10.0...

"KPM Restore" runs as expected
"K Kestrel" gives following error

[code]

[2014-12-16 07:29] #304 closed, assigned to nobody

[2014-12-23 16:42] #295 closed, assigned to nobody

[2014-12-23 16:48] #284 closed, assigned to nobody

[2014-12-23 16:51] #121 closed, assigned to suhasj

[2014-12-23 16:52] #117 closed, assigned to nobody

[2015-01-02 16:24] branciat opened #325 "ViewState"
Hi,

The file _ViewStart.cshtml must to be rename to lowercase for the OS Linux. See the discussion below

http://forums.asp.net/t/2022947.aspx?_Layout+cshtml+not+loaded+on+linux

[2015-01-02 16:31] Tragetaschen commented on #325
No :)

Beta1 is not consistent. The current HEAD uses [_ViewStart.cshtml](https://github.com/aspnet/Mvc/commit/5b1eae494ea25bb88c34ed285dd76e6bcb2db99e#diff-3b8b6fe6d5352a75ce9e1fa8b0a2185dR16) as the casing.

[2015-01-02 16:40] branciat commented on #325
Ok thanks :)

[2015-01-02 16:40] #325 closed

[2015-01-10 22:24] lucamorelli commented on #287
any news about this?

[2015-01-11 09:38] lucamorelli opened #337 "integration of server side code analisys"
Hi,
  now that we have ts linting in the pipeline, is there any plan to add to the pipeline server side validation too (former fxcop, actually seems to me vs code analisys ) and stylecop?
  another question: if I want to customize the pipeline and I want to write my own module, is it possible to write the core using .net and wrap in a node.js module?

[2015-01-15 18:25] Praburaj opened #343 "Make tests run in parallel"
Currently it uses fixed port numbers. Need to make it use free ports and run all tests in parallel to save time.

[2015-01-15 20:24] rynowak commented on #343
This is related to what we had discussed earlier about centralizing this infrastructure between MVC and Music Store. Let's discuss after beta3 locks.

[2015-01-16 23:23] HaoK commented on #285
Its too easy to miss startup classes right now, they aren't all in the same place even.

[2015-01-17 18:17] kscott5 opened #353 "Help with WebPages and bower.json"
I don't have visual studio I'm running from command-line with notepad++ ad my editor from public computer at local library. But need help with the following two issues.

How do you enable webpages. In the previous version of ASP.Net this was accomplished using the web.config and appsettings section.

[code]

Secondly, how do you enable the use of the bower.json file? I ask because when executing

[2015-01-17 19:37] davidfowl commented on #353
1. There is no webpages yet
2. You use bower, kpm is not bower. http://bower.io
3. https://github.com/aspnet/Home/issues/194#issuecomment-63239874

[2015-01-17 19:37] #353 closed

[2015-01-19 22:08] victorhurdugaci opened #357 "Remove the codeplex link from footer"
There is still a link to music store on codeplex in the footer of every page

[2015-01-28 14:07] suthrams opened #374 "Getting build errors compiling musicstore"
Folks

I am getting started with aspnet vnext and would like to build and run music store on my box. I installed vs 2015, set up kre etc

I opened the solution and tried to build and got a ton of errors (29371) of them. I need help to see the work you guys are doing to port this over to vnext.

Any pointers appreciated.
Thanks

[2015-01-28 18:32] Praburaj commented on #374
@suthrams are you on master branch or dev branch?

[2015-01-28 19:09] suthrams commented on #374
I forked off the master branch

[2015-01-28 19:16] Praburaj commented on #374
Do you see the packages are restored successfully in VS references node?

[2015-01-28 19:18] suthrams commented on #374
I see the packages restored successfully with no exclamations. But even very basic system.void is not being recognized.. I can paste some build output if it helps

[2015-01-28 19:41] suthrams commented on #374
Here is some more info
1) Forked music store
2) Checked to make sure the latest kre ws installed for my user profile for core clr and clr
3) Opened the solution VS 2015 CTP 5 and did a build.  All the packages were restored.

[2015-01-28 19:41] Praburaj commented on #374
What's the version of KRE you are using. You can go to project's properties and see that in the drop down.

And all the restored packages are `beta2`

[2015-01-29 20:54] WillBaldwin commented on #374
I have an issue has seems similar..  (see screenshot)

Note that not even "use System" resolves, intellisence is completely nonfunctional; the document outline is empty.  "KPM restore" grabs all the packages without errors.  Is this what you are experiencing?

![screenshot_musicstore](https://cloud.githubusercontent.com/assets/5522137/5966012/52a773f2-a7c6-11e4-9c6c-c89e80ee6432.png)

[2015-01-29 21:59] suthrams commented on #374
Yes. I am seeing the same behavior

[2015-01-29 23:10] heathyates commented on #374
I am also observing this behavior.

[2015-01-29 23:11] victorhurdugaci commented on #374
From what branch is the Music Store code?

[2015-01-30 01:38] WillBaldwin commented on #374
I just cloned https://github.com/aspnet/MusicStore.git

[2015-01-30 01:47] Praburaj commented on #374
Could you try running from command line to see if it works successfully? Instructions for running on weblistener or kestrel are in the repo readme.

[2015-01-30 02:08] WillBaldwin commented on #374
It builds, I assume it runs command line but will check and report.  The issue seems to be the VS editor and intellisense.

[2015-01-30 03:46] heathyates commented on #374
@Praburaj I also cloned from the master branch like @WillBaldwin and @suthrams. As the first screenshot shows above, it is like VS15 cannot find the dependencies that the project is bringing it. We can "build" it just fine, but it won't compile and/or run.

[2015-01-30 16:48] WillBaldwin commented on #374
This issue seems to be easily reproducible and following the steps a normal reasonable developer would try:

(1) Build Windows 8.1 VM
(2) Install VS2015 CTP5
(3) Clone Music Store
(4) Open the solution
(5) Open startup.cs
(6) Observe strange IDE Editor/Intellisense behavior (see above screen shots)

Attempt to troubleshoot
(1) restart Visual Studio 2015 CTP 5
(2) reboot computer
(3) kvm upgrade
(4

[2015-01-30 17:08] Praburaj commented on #374
@WillBaldwin @suthrams I'll give it a try today and update the bug with information.

[2015-02-02 20:16] heathyates commented on #374
@Praburaj, have you found anything since Friday? I am still experiencing the issue, but felt the following information could be valuable to your efforts. These are the steps I take to duplicate this issue.

Step 0: This occurs as soon as I clone the repo:
![error0](https://cloud.githubusercontent.com/assets/1896424/6007891/3590a818-aae3-11e4-9a0c-7acb3a9b78e3.PNG)

Step 1: I update the packages (f

[2015-02-03 01:40] Praburaj commented on #357
Fixed.

[2015-02-03 01:40] #357 closed

[2015-02-05 03:14] WillBaldwin commented on #374
I have discovered that if I gut the code... delete all the files...  delete even startup.cs  and delete project.json then create a new class file I can get intellisense to resolve System...   I can recreate an empty startup.cs then recreate an empty project.json and it will still behave.

So now I have a gutted project that seems ok for now... and a MusicStore project that still will not resolve r

[2015-02-05 20:12] heathyates commented on #374
@Praburaj @suthrams I am using the master branch. The issue for me was the version of KRE and the packages in package.json did not match. So I explicitly told it to use ONLY NuGet.org and beta2.

@WillBaldwin Reported to me that he discovered independently that you can only point the application at one nuget source at a time or you will get aberrant behavior. Also, to choose the NuGet source appro

[2015-02-10 16:18] ByteBlast commented on #149
I would appreciate this also.

[2015-02-20 15:00] suthrams commented on #374
Folks

I am back to looking into this. Can somebody post the instructions as to what needs to be done after clone to get this to build.

How do we tell explicitly to use nugget.org and beta 2? What changes needs to be done in package.json.

Thanks

[2015-02-20 16:20] heathyates commented on #374
@suthrams Eilion answered this on stackoverflow for me. See: http://stackoverflow.com/questions/28335972/cannot-get-dependencies-packages-to-be-recognized-in-source-files-of-asp-net-mvc

I think this issue should be closed.

[2015-02-20 17:06] Praburaj commented on #374
Sorry everyone for the late reply. We found a few more issues while investigating this:
1.       Tooling disables the nuget.org feed while loading the solution resulting in package restore failures. Work around is to go and manually enable the feed after launching the solution. To restore the packages go ahead and hit save on the project.json files. Note: See (3) below before hitting save.
2.

[2015-02-20 17:14] heathyates commented on #374
@Praburaj Thank you for your reply. This is really useful information and I know your team is rapidly developing, so it can be hard to keep up with everything.

That being said, may I have your ear for a moment please @Praburaj? I have two things I would like to ask below:

1. You mentioned that Xunit.KRunner package seems to be missing in nugget.org, and I have noticed that I can never get it to

[2015-02-20 22:11] suthrams commented on #374
@Praburaj Thank you for your reply. I was able to build today following the instructions to re-save project json and changing to beta2 which seems to have been already there. I unloaded the xunit.krunner.  Thanks to all who helped.  I will close this issue

[2015-02-20 22:11] #374 closed

[2015-02-20 22:45] Praburaj commented on #374
@suthrams @heathyates Thanks for your patience. I pushed a change to the master branch to fix (2) and (3) above. So you should be good on those fronts.

(1) is a known issue http://nuget.codeplex.com/workitem/4397. A good work around will be to create a Nuget package source named `NugetTotal` with the same feed url as `Nuget.org` in the nuget package sources dialog. This will make sure that the fe

[2015-02-20 22:57] ianhong commented on #374
@suthrams
Actually we modified the MVC framwork to make controllers more unit-testable. And, we already updated the MusicStore sample for that matter. I'm about to add sample unit tests for those MusicStore controllers, and I think you will see them in a week or so..

[2015-02-21 00:50] suthrams commented on #374
One more minor addition. Instead of unloading the test project. I commented the xunit.krunner and replaced it with this entry in project.json for the test project. After that I was able to compile the entire solution and also get back my intellisense that was missing badly.

        "xunit.runner.kre":  "1.0.0-beta4-1053",
        //   "Xunit.KRunner": "1.0.0-*",

[2015-02-21 00:52] suthrams commented on #374
And I got this feed added temporarily in VS 2015 http://www.myget.org/F/xunit

[2015-02-21 00:58] Praburaj commented on #374
@suthrams - we have seen at many times `beta4` bits does not work very well with `beta2` KREs or similar. But :+1: if that works for you :smile:

[2015-02-23 17:28] heathyates commented on #374
@ianhong Thanks for your reply. I am looking forward to your xunit contributions. Can you please tell me where I can find other sample code for beta2 xunit MVC Crud examples?

[2015-02-24 02:37] heathyates opened #399 "Do controllers still sit in front of everything except the routing subsystem?"
The Professional ASP.NET MVC5 book by Galloway et al. in chapter 2 describes controllers as sitting in front of everything except the routing subsystem in MVC5 (page 32). Is this still true in ASP.NET5? I doubt it now given how startup.cs is suggestive of major changes behind the scene I can't quite see as a developer.

[2015-02-24 03:55] rynowak commented on #399
Can you define what you mean by *everything*? They certainly sit in front of your views.

A few things that run 'in front of' controllers in a typical MVC app:
- Middleware
- Routing
- ActionConstraints (formerly know as ActionSelectorAttribute)
- Filters

Startup.cs code runs once at startup to configure your app. It shouldn't have any direct role in handling requests.

[2015-02-24 04:07] EduardoPires opened #400 "There's no compatibility with beta3"
There's no compatibility with beta3

[2015-02-24 05:16] heathyates commented on #399
I quote page 32 of the book I read, "ASP.NET MVC implements the front controller variant of the MVC pattern, and the controller sits in front of everything except the routing system, as discussed in Chapter 9".

[2015-02-24 17:01] Eilon commented on #400
What exactly is the problem? Which branch were you using?

[2015-02-24 17:04] Eilon commented on #399
@heathyates though there are significant changes between MVC 5 and MVC 6, the overall pattern is largely the same:

1. There's a hosting layer that runs first, and includes a concept of running various "modules".
2. One of these "modules" is routing
3. If routing matches the URL for MVC, then MVC runs its code (the controllers, action filters, views, etc.)

In ASP.NET 4.x and earlier, the "modules

[2015-02-24 17:27] heathyates commented on #399
@Eilon

Thank you for your prompt reply @Eilon and @rynowak . I am impressed and humbled by having such high level developers talk to a relative n00b as myself. I will close this issue shortly, but please, allow me one additional question.

What source code would best help me understand the significant changes that have come to ASP.NET5? For example, in startup we register the applicationDBcontext

[2015-02-24 18:40] Eilon commented on #399
I think for right now, the best way to see the differences is to compare the original [MVC 5 music store](https://github.com/aspnet/MusicStore/tree/master/src/MvcMusicStore) and the updated [MVC 6 music store](https://github.com/aspnet/MusicStore/tree/master/src/MusicStore).

We're working on having proper guidance as well as migration guides as part of our documentation project but there's nothin

[2015-02-24 18:41] Eilon commented on #399
Oh we did publish an MSDN article at https://msdn.microsoft.com/en-us/magazine/dn879354.aspx that has some brief mentions about migrating, but expect to see more in the future.

[2015-02-24 18:46] heathyates commented on #399
@Eilon Thank you for the excellent answer. Your response is extremely useful and helped me quantify what I want to learn about. How can I become a professional with the new HTTP pipeline that is coming out and learn how ASP.NET processes it? I just don't want to a tool user, but try to be a tool maker too. It seems to me that the new HTTP pipeline and middleware is at the heart of the new applicat

[2015-02-24 18:58] Eilon commented on #399
I think the best thing to do is to just use the system to build a real app - that way you get to learn lots of different parts of the system in real scenarios.

[2015-02-24 19:01] heathyates commented on #399
@Eilon Fair enough, and something I am doing right now. However, your advice makes me feel better about that approach. I will wait patiently for when more information about the nuts and bolts becomes available. I also bought a book on CLR recently. I don't want to just use the magic, but understand it. ;-) Thanks @Eilon

[2015-02-24 19:01] #399 closed

[2015-02-24 19:03] rynowak commented on #399
:+1: to everything @Eilon said.

Also in the context of the quote:

It's still true that the `Controller` in MVC acts as a front-controller in design pattern terms. All of your business logic will still sit behind your controllers.

All the things that I mentioned (filters, middleware) typically address cross-cutting-concerns like auth, logging, etc.

[2015-02-24 19:45] heathyates commented on #399
@rynowak Your comments are extremely illuminating. I took the quote out of it's intended context and was thinking about it architecturally. Logically, from a developer point of view, I see indeed how the business logic will still sit behind our controllers.

There is so much to learn and I appreciate your gentle answers and patience. :)

[2015-02-25 02:55] EduardoPires commented on #400
I'm using beta3.

[2015-02-25 06:57] Eilon commented on #400
Ah indeed it hasn't been updated to point to beta3. I'll follow up.

[2015-02-25 18:16] suthrams opened #402 "Pattern issue: MVC pattern and View Components going against repositories"
While I like the idea of viewcomponents , I am trying to question its use to pull data off databases or other services that will be injected into a view component.  I am not sure that I completely agree with the pattern we are setting up here with all the examples.

I am just trying to understand the MS thought process /best practice through this sample app for what a view component should be put

[2015-02-25 18:51] Praburaj commented on #400
@EduardoPires - master branch now contains beta3 code. Could you try again. And could you try unloading E2ETests project from the solution before trying to build.

[2015-02-25 18:53] Praburaj commented on #400
@EduardoPires
And there is another tooling issue described below (From: https://github.com/aspnet/MusicStore/issues/374)

Work around is:

[2015-02-26 04:03] EduardoPires commented on #400
@Praburaj Ok I'll try this new version. Thank you!

[2015-02-27 21:36] heathyates commented on #374
@ianhong Any update regarding sample unit tests for MusicStore controllers? Any good references to point me to for studying code implementation of xunit tests for beta3?

[2015-02-28 00:51] Praburaj commented on #374
@heathyates - there are already a few PRs open on this repo to add unit tests. Have a look at them.

[2015-03-02 18:18] shhsu opened #409 "MusicStore should precompile it's views"
MusicStore should precompile its views as we already do this in template MVC projects. This would improve startup performance for those why try out MusicStores

[2015-03-02 18:19] shhsu commented on #409
@Praburaj @troydai @yishaigalatzer @jhawk42 @davidfowl

[2015-03-02 23:22] Tragetaschen commented on #409
Note that precompilation will not work with any available release of Mono. See aspnet/XRE#1048. The fix is available in the 4.0 branch.

[2015-03-03 02:35] HaoK opened #412 "Reenable OpenId + NTLM tests"
Security changes appear to have broken these tests, skipping tests on CI so build is unblocked, will investigate these failures and reenable

[2015-03-03 05:18] Praburaj commented on #412
The open id connect middleware is unable to deserialize the state into AuthenticationProperties object. Resulting in the following warning:

[WARNING:Microsoft.AspNet.Authentication.OpenIdConnect.OpenIdConnectAuthenticationMiddleware] The state field is missing or invalid.

https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Authentication.OpenIdConnect/OpenidConnectAuthenticationHand

[2015-03-04 00:53] HaoK commented on #412
Should be fixed now

[2015-03-04 00:53] #412 closed

[2015-03-04 22:31] victorhurdugaci opened #416 "MusicStore SPA does not build with the latest TypeScript and latest node"
1. Install VS 2015 CTP6
2. Install node v0.12.0
3. Run `build` in the MusicStore folder.

Result:

[code]

If you revert back to node 0.10.29 like we have on the CI machines, everything works.

[2015-03-07 00:22] #400 closed

[2015-03-08 16:52] Ciantic opened #421 "AddEntityFrameworkStores<MyContext>() is not working when using IdentityUser<int>"
The `AddEntityFrameworkStores<MyContext>()` throws runtime error if one has these:

    public class User : IdentityUser<int>
    {
    }

    public class UserRole : IdentityRole<int>
    {
    }

    public class MyContext : IdentityDbContext<User, UserRole, int>
    {
    }

It all works if I remove `int` from `IdentityRole` and `IdentityUser` and change last `int` to `string`. However I would

[2015-03-08 23:36] Eilon commented on #421
@HaoK @divega can you guys take a look?

[2015-03-09 00:14] HaoK commented on #421
Try AddEntityframeworkStores(MyContext,int)

[2015-03-09 13:04] Ciantic commented on #421
@HaoK ah I somehow missed that. This does work yes, thank you.  `AddEntityFrameworkStores<MyContext, int>()`

Though I got another problem, the RoleManager cannot create auto incrementing ID when using integers as Id's. I'm using InMemoryStore for testing purposes, the auto incrementing id's do work for my own models when using the simple `DbSet.Create` without specifying the Id.

[2015-03-09 13:04] #421 closed

[2015-03-11 22:29] Praburaj commented on #253
This should be fixed now. https://github.com/aspnet/MusicStore/commit/b0c989ce90f5f86f7118e895c527a2c7bde5ca87

[2015-03-11 22:29] #253 closed

[2015-03-20 17:30] Praburaj commented on #255
Closing this as this is an issue due to mismatched dependencies.

[2015-03-20 17:30] #255 closed

[2015-03-20 17:55] Praburaj commented on #149
This being a sample it is for users to have it hands on. I can't think it is useful to have a live running version.

[2015-03-20 17:55] #149 closed

[2015-03-20 17:56] Praburaj commented on #6
Some of these changes cannot be avoided and it has been kept similar to the previous version in possible places.

[2015-03-20 17:56] #6 closed

[2015-03-20 17:57] Praburaj commented on #266
@victorhurdugaci PRs welcome :smile:

[2015-03-20 18:08] DanAtkinson commented on #149
I'm confused as to why you think it's not useful to have an official live demo site for projects such as these. In my opinion, that seems to be a somewhat short sighted decision.

[2015-04-01 17:07] kichalla opened #453 "Consider using FromServices attribute on an action's parameter instead of property injection."
Since MVC provides a way to model binding services from DI, we should look into changing the current controllers to have the `FromServices` attribute decorated on an action's parameter rather than the property injection that we currently have.

The property injection change was recently made for making unit testing easy, but this does not clearly indicate what an action is dependent on.

Example:

[2015-04-01 17:15] Praburaj commented on #453
@kichalla could you send a PR with the changes?

[2015-04-14 23:23] Praburaj commented on #343
This is complete. https://github.com/aspnet/MusicStore/commit/29ef86fad312c29c1c63192236f55ec619319132

@Tratcher @rynowak

[2015-04-14 23:23] #343 closed

[2015-04-20 20:42] Praburaj commented on #409
This is complete now.

[2015-04-20 20:42] #409 closed

[2015-05-03 21:04] joelcollinsdc opened #476 "(Support / Documentation) Difficulty opening with VS 2015"
I tried to get started learning about this project today and was unable to get very far.  Perhaps I didn't find the right documentation?

1) download and open visual studio (professional) 2015 RC ( I was on an azure server 2012 instance if that matters)
2) clone this repo
3) When opening the solution in visual studio, receive messages stating that the version of the sql express database is not sup

[2015-05-03 21:04] joelcollinsdc commented on #476
The only documentation for running this in visual studio said:

If you have Visual Studio 2015
Open MusicStore.sln in Visual Studio 2015 and run the individual applications on IIS Express.

Perhaps I missed some?

[2015-05-05 01:46] Bartmax opened #477 "ArgumentNullException: Value cannot be null. Parameter name: hashedPassword"
If I log in using twitter and then try to log in using the email with any password returns an error

[code]

because the user exist but doesn't have a password.

[2015-05-07 17:40] HaoK commented on #477
This is an identity issue, I'll take a look

[2015-05-07 18:46] HaoK commented on #477
@suhasj I thought you were looking at something like this?  Did you already check the fix for this in?

[2015-05-07 18:48] suhasj commented on #477
Not fully sure. I don't think I have seen anything like this

[2015-05-08 20:29] #477 closed

[2015-05-08 20:47] victorhurdugaci commented on #416
Can we please address this? It is really bad because you cannot use the latest node & typescript
@DamianEdwards @suhasj

[2015-05-08 21:25] muratg commented on #416
@suhasj Victor will be temporarily disabling this.  Could you fix this soon and reenable?

[2015-05-08 21:25] victorhurdugaci commented on #416
I managed to get the right version of node and TS. I will not disable it

[2015-05-09 19:16] tugberkugurlu opened #481 "[question] ASPNET_ENV Information inside the StartupNtlmAuthentication.cs"
Is this information still relevant?

https://github.com/aspnet/MusicStore/blob/f0998dffbc5e6846515787eb931bd979753efd58/src/MusicStore/StartupNtlmAuthentication.cs#L20-L30

[2015-05-11 18:14] punkouter commented on #476
6. Same thing here.. Confusing

I cannot get a valid localdb connection even though I verified the connection in SQL Management Studio.. No idea what is wrong there

[2015-05-11 18:30] punkouter2018 opened #482 "Database is created but then there is an error (ASPNET5 project)"
Any idea what is happening here? Here is the output.

A database operation failed while processing the request.

AggregateException: One or more errors occurred.
AggregateException: One or more errors occurred.
AggregateException: One or more errors occurred.
AggregateException: One or more errors occurred.
AggregateException: One or more errors occurred.
AggregateException: One or more errors occ

[2015-05-12 10:41] godna commented on #476
about  6)  :
Open the property of project , click Web, then make sure the "project URL" of the two project("MVCMusicStore","MvcMusicStore.Spa") is diffrent.

maybe the URL conflict Cause this problem.

about  connection:
1:find your SqlLocalDB Path
such as "C:\Program Files\Microsoft SQL Server\120\Tools\Binn\"
2:Go to the path in cmd.exe
3:"C:\Program Files\Microsoft SQL Server\120\Tools\Binn\Sql

[2015-05-12 14:05] punkouter commented on #476
I got the right name for localDb... And it creates the data.. but then something else is going wrong.. see

https://github.com/aspnet/MusicStore/issues/482

[2015-05-12 18:31] victorhurdugaci opened #483 "Segmentation fault when running on Ubuntu"
[code]

From here https://xplat-ci.asp.net/viewLog.html?buildId=517&buildTypeId=XPlat_Linux_1_BuildMusicStore&tab=buildLog#_state=75

cc @suhasj

[2015-05-16 23:04] adun opened #486 "MusicStore.Spa: InitializeMusicStoreDatabase EntityFramework Exception"
I've just pulled the repo to launch the sample.
The project has been loaded using Visual Studio 2015 RC.
I've restored packages and starting the MusicStore.Spa project produces the following Error:

[code]

Regards

[2015-05-18 18:34] suhasj opened #487 "Enable publish test"
Publish tests are failing currently due to a regression in DNX. Disabling the tests as of now and tracking to enable them when fixed.

[2015-05-18 18:36] suhasj opened #488 "enable Kestrel tests"
Kestrel based tests are failing currently. Need to enable them once fixed

[2015-05-27 14:04] punkouter commented on #486
I have same problem.. I have a basic machine with just Win10 and VS 2015 RC.  Anyone ??

[2015-06-03 11:35] alfkonee opened #495 "Typing for typescript Definitions"
I would like to  suggest this project move all it's typescript definition to using  tsd for better support for the latest versions of the files, since dt-* packages have been deprecated by their developers to favor tsd definitons

[2015-06-03 15:58] punkouter opened #496 "Cannot publish to azure. Sql Error."
Anyone else get this ? Is there a workaround ?

[code]

[2015-06-03 17:57] cheers00 opened #497 "Restore failed Illegal character '/' (Unicode hexadecimal 002F)."
I  got the latest MusicStrore and I am having tough time to build the solution with VS 2015 RC. Nuget packages are not restored and I get the following error message when I tried to restore packages for MusicStore project (dnu restore).

Wondering if I am missing something.

[code]

I also tried build.cmd and it's timing out.

my dnvm list is below

[code]

[2015-06-03 20:09] bjjzqd commented on #497
I am seeing the same issue.

[2015-06-05 05:39] cheers00 commented on #497
Didn't do anything but today, I can build the solution.

But I get the same error when I deploy and run the command.

[2015-06-05 05:49] cheers00 commented on #497
I get the above mentioned error when ran the command (.cmd)
But when I run dnx . run, I get the following error. I am publishing this as file system.

[code]

[2015-06-12 20:01] rosieks opened #499 "Replace Grunt with Gulp"
Since Visual Studio 2015 use gulp by default in new project it would be great to see that also in MusicStore.

[2015-06-16 19:53] daldegam commented on #486
I have same problem! Run on Mac OS X...
[code]

[code]

[2015-06-20 10:45] 4nonym0us commented on #486
The same. Specs: Win8.1, VS 2015 RC.

###### System.InvalidOperationException
###### The property 'ArtistId' on entity type 'Artist' does not have value generation on add enabled and it is principal by at least one foreign key. Properties referenced by foreign keys should have value ## generation on add enabled.
[code]

[2015-06-22 12:30] mutsp opened #505 "Cannot load type"
[code]

[2015-06-25 02:57] PlatinumEagle commented on #486
***WORKAROUND:***
(functional as of 6/24/2015):

I had the same problem, but was determined to figure out why. Without getting into a big thing about what is being done and why, you can successfully work around the issue by allowing IDs to be generated instead of provided (when using SQL server) by commenting out the ID generation on Artist and Genre. While this would not be a good idea to do with

[2015-07-01 19:01] jalaz commented on #497
Today I've had the error `project.json(37,5): Error: Microsoft.Framework.Runtime.FileFormatException: Illegal character '/'` when I updated to dnx beta5 and had the following comments in my project.json:

    //,
    //"dnxcore50": {
    //  "dependencies": {
    //    "System.Reflection.TypeExtensions": "4.0.0-beta-23015"
    //  }
    //}

it worked fine after I removed comments from the file.
H

[2015-07-02 01:19] HaoK opened #507 "Reenable Smoke Tests"
Something appears broken with the new changes and how music store was testing OAuth, OIDC failed first, and now with the latest changes, the social tests are all failing on redirects as well now

[2015-07-02 01:19] HaoK commented on #507
I manually ran the scenarios on samples and redirects are working fine for MVC/identity so something about how the tests were written has regressed

[2015-07-02 02:08] HaoK commented on #507
Fixed and reenabled

[2015-07-02 02:08] #507 closed

[2015-07-04 09:58] MiKom commented on #497
It seems that somewhere between beta4 and beta5 the json parser got more strict and it doesn't allow comments in JSON files (which are not in the JSON standard)

[2015-07-04 10:01] davidfowl commented on #497
Try switching to the dev branch of music store

[2015-07-14 19:23] rubenprins opened #510 "Remove or fix Helios.cmd"
Currently, the Helios.cmd script in src/MusicStore will spawn an IIS Express instance that will give the error

Either `src/MusicStore/wwwroot/web.config` should be updated to include the proper `runtime-path`/`dnx-app-base` settings (i.e., `..`), or Helios.cmd should be removed to avoid confusion.

(Note that README.md should be updated as well, should you choose to remove Helios.cmd.)

[2015-07-14 19:28] davidfowl commented on #510
master branch?

[2015-07-14 19:45] rubenprins commented on #510
Yep: master, dev, release, they all still have Helios.cmd and references to it from README.md ("If you don't have Visual Studio 2015").

Should I be looking at another branch?

[2015-07-16 22:23] HaoK opened #511 "Update and reenable open id tests"
@kichalla I investigated the failure, looks like the test and verification just needs to be updated.

Due to how SignOut redirects immediately happen now, the change to music store is now: to return empty result.  Inside AccountController.LogOff:

[code]

I'm not exactly sure what the test needs to verify, but I debugged it and the old assertions are no longer valid.

[2015-07-17 18:02] kichalla commented on #511
@HaoK I tried running the MusicStore sample with the above mentioned change, but the page does not get redirected on LogOff and is a blank page. Is there any other place where we need to provide the redirection url?

[2015-07-17 20:32] HaoK commented on #511
Ah yes sorry, so you can set redirect via AuthenticationProperties.RedirectUri as part of the SignOut call.

The other case when its not OpenId can continue to return the old value.  That should work better

[2015-07-20 18:20] joerter commented on #486
Here is the same issue over at the EntityFramework repository:

https://github.com/aspnet/EntityFramework/issues/2284

[2015-07-23 17:15] TraGicCode opened #513 "build.cmd copy nuget to .nuget directory"
Why is nuget being downloaded and then being copied to the repositories root .nuget location?  This seems unnecessary

[2015-07-23 17:16] #513 closed

[2015-07-24 03:44] tinganho opened #514 "Cannot restore MusicStore application"
I'm getting this error when I run `dnu restore` in `src/MusicStore/` on my mac:
[code]

[2015-07-24 03:47] tinganho commented on #514
[code]

[2015-07-28 22:22] leandermurphy commented on #510
I also just hit this issue.  Is there a web.config change that can be done as a work around?

[2015-07-29 01:08] saltysnacks commented on #510
I also encountered this issue.  I was able to workaround by adding the following to my web.config...

[code]

".." as src/musicstore/wwwroot is the location of the web.config and the app root dir is at src/musicstore.

[2015-07-29 01:36] leandermurphy commented on #510
That works for me.  Thanks!

[2015-07-29 19:23] heathyates opened #516 "Are you really bringing in SignalR and CodeGenerators.Mvc in project.json for beta6?"
![error](https://cloud.githubusercontent.com/assets/1896424/8967360/e7b11d40-35fb-11e5-83b5-e5952d3a89b3.PNG)

I'm confused. First, according to what I know, there is no beta 6 for CodeGenerators.Mvc. See [here](https://www.nuget.org/packages/Microsoft.Framework.CodeGenerators.Mvc/). Second, I get the error above when I try to invoke `dnu restore`.

However, I noticed that you have these dependenc

[2015-07-29 20:44] superlogical opened #517 "Clicking remove from cart throws `The"
[Microsoft.AspNet.Diagnostics.ErrorHandlerMiddleware] An unhandled exception has occurred: The required antiforgery cookie "j4-It448jSU" is not present.

[code]

[2015-07-30 04:56] Eilon commented on #516
The `NuGet.config` file for MusicStore specifies the `MyGet.org/aspnetmaster` feed, which has these packages.

Did you clone the entire repo, or maybe some files are missing?

[2015-07-30 13:18] heathyates commented on #516
@Eilon I had problems with Nuget. After I resolved them, I saw the issue go away. Thanks a lot.

[2015-07-30 13:18] #516 closed

[2015-08-03 16:35] #510 closed

[2015-08-04 18:56] peterblazejewicz commented on #514
The same here.

However: if I prepare version of application just copying content, removing references to  parent files, etc, I can restore and run application (also OS X/Mono 4.* as above):
https://github.com/peterblazejewicz/asp5-mvc6-examples/tree/master/MusicStore

[2015-08-04 19:57] peterblazejewicz opened #519 "Inline JavaScript code with C# Razor comments"
The main example ships with syntax error due to using Razor comment syntax in inline JS script tag in main template:
https://github.com/aspnet/MusicStore/blob/master/src/MusicStore/Views/Shared/_Layout.cshtml#L28
[code]
It could work in VS, but breaks my Atom editor.
Thanks!

[2015-08-04 20:09] peterblazejewicz opened #520 "Script tag helper for respondjs is missing fallback attribute"
Running example `MusicStore`:
[code]
verified to be this script helper tag:
https://github.com/aspnet/MusicStore/blob/master/src/MusicStore/Views/Shared/_Layout.cshtml#L85-L86
[code]
a fix:
[code]
Thanks!

[2015-08-04 20:51] dougbu commented on #519
Note the change suggested in the PR does not do the same thing. A Razor comment doesn't add bits to the generated response; a JavaScript comment (or an HTML comment) does.

Separately, how well does the Atom editor handle Razor expressions like `@ViewBag.Title` or `@await Component.InvokeAsync("CartSummary")`? In other words does fixing this issue just move the needle from unusable to not worth us

[2015-08-04 21:00] peterblazejewicz commented on #519
OK, let me explain:
* we are not tied to Visual Studio anymore, correct assumption?
* I agree - Razor is stripped out - so maybe we could just move comment out of `<script>` tag? Both VS users and others will be happy:
[code]
* the Razor comment is JavaScript is not a thing maybe known to seasoned VS/MVC developers
* the VS Code has also problem with such code:
![20150804225859](https://cloud.gith

[2015-08-04 21:07] dougbu commented on #519
Agree VS is no longer the sole focus. My question was about the Atom experience after fixing this e.g. what else might need to change?

Thanks for bringing up VS Code; [their docs](https://code.visualstudio.com/Docs/languages) show HTML is not a supported language (yet?). Not a big surprise Razor sources confuse it.

[2015-08-04 21:23] peterblazejewicz opened #523 "Consider Replacing obsolete `hgroup` tag in html code"
The code is using obsolete (2 years and counting) `hgroup` element a lot.
Can you consider to replace it with other markup with similar purpose but better fitted to sample code?
reasoning:
http://www.w3.org/html/wg/drafts/html/master/obsolete.html#non-conforming-features

Examples of transition:

[code]

[code]

[code]

[code]

[code]

[code]

The examples also show how to replace semantically con

[2015-08-04 21:32] Eilon commented on #519
@kichalla can you merge once the CI is... stable?

[2015-08-04 21:33] Eilon commented on #520
@DamianEdwards @NTaylorMullen warnings from tag helpers! It worked! :smile:

[2015-08-04 21:34] Eilon commented on #520
@kichalla please merge the PR once the CI is ready.

[2015-08-04 21:40] peterblazejewicz opened #524 "Stop using comments in JSON files even if supported by some IDEs"
The problem is surfacing from time to time, e.g.:
https://github.com/aspnet/MusicStore/pull/248
The JSON does not allow comments but as VS does not break, the comments are using. For example in `config.json` file:
https://github.com/aspnet/MusicStore/blob/master/src/MusicStore/config.json#L9-L11
We have that problem fixed on other related project:
https://github.com/OmniSharp/generator-aspnet/issu

[2015-08-04 21:42] peterblazejewicz commented on #523
@Eilon  Thanks for those typos!

[2015-08-04 21:43] Eilon commented on #523
Now done :smile:

[2015-08-04 22:07] gheiler opened #525 "Timeout restoring packages on deploy to Heroku"
Unfortunately im getting timeout errors when restoring packages trying to deploy to Heroku.

[code]

[2015-08-04 22:22] DamianEdwards commented on #520
I knew that would pay off :smile:

[2015-08-07 16:34] #519 closed

[2015-08-07 16:34] #520 closed

[2015-08-14 00:05] jeremymeng opened #529 "MusicStore 1.0.0-beta6 depends on "Microsoft.AspNet.SignalR.Server": "3.0.0-beta6" but that package is not available"
The latest version of Microsoft.AspNet.SignalR.Server on nuget.org is 3.0.0-beta5.

[2015-08-15 18:15] brianlangbecker opened #530 "Deployed to Azure successful...hit details page gives error"
Hi,

So I am bit rusty on development but I managed to get a fresh environment setup with 2015 express web, muddle may way through all the package stuff.   While the IISexpress version never seems to render successful I pushed the project  toAzure Websites with Azure SQL.  And it works great.

The only issue I run into is every time I go to the details page it tosses an error.  I have tried to pla

[2015-08-28 17:49] BrennanConroy commented on #529
@muratg

[2015-08-29 18:49] BillKrat opened #532 "The current runtime target framework is not compatible with 'MusicStore'"
The CopyAspNetLoader.cmd is not copying the correct AspNet.Loader.dll - in my case it is pulling the beta4 version. resulting in the following error when in web browser (reference image below):

    The current runtime target framework is not compatible with 'MusicStore'.

    Current runtime Target Framework: 'DNX,Version=v4.5 (dnx45)'
      Type: CLR
      Architecture: x86
      Version: 1.0.0-

[2015-08-31 16:40] muratg commented on #529
@kichalla Could you remove the SignalR dependency? It looks like it's not used anyways.

[2015-09-01 20:26] kichalla commented on #529
commit 09721166972995634f7af91a645f22d71f814f54

[2015-09-01 20:26] #529 closed

[2015-09-16 03:57] staff0rd opened #536 "AddOrUpdateAsync broken and misleading"
`AddOrUpdateAsync` in [SampleData.cs](https://github.com/aspnet/MusicStore/blob/38b579978c320e3a6e1a2bf036e1b076cd2727ab/src/MusicStore/Models/SampleData.cs#L46-L69) implies that you can run it even if the data exists already.  However, it would seem that EntityFramework does not support the following call and will throw an exception if the data exists:

[code]

**Exception**

[code]

`AddOrUpdate

[2015-09-17 23:53] Eilon opened #537 "Clear up MusicStore repo"
* MusicStore - keep
* MusicStore.Spa - move to Entropy
* MvcMusicStore - delete
* MvcMusicStore.Spa - @DamianEdwards will give it a new home

[2015-09-17 23:54] Eilon commented on #537
@kichalla let's chat about this one.

[2015-09-18 18:48] HaoK commented on #537
Yay, no more manually removing MvcMusicStore from my sln :)

[2015-09-22 17:22] kichalla commented on #537
2c1f1a277a014f3670892966c5d32662f5674894

[2015-09-22 17:22] #537 closed

[2015-09-22 17:24] Eilon commented on #486
The MusicStore.Spa project has been removed from this repo. Only the MusicStore (ASP.NET 5, non-SPA) remains. See https://github.com/aspnet/MusicStore/issues/537 for more info.

[2015-09-22 17:24] #486 closed

[2015-09-22 17:26] Eilon commented on #302
The SPA project has been removed from this repo (in the dev branch). See https://github.com/aspnet/MusicStore/issues/537 for more info.

[2015-09-22 17:26] #302 closed

[2015-09-22 17:27] Eilon commented on #486
(To clarify, it's gone from the dev branch - it will be merged to master soon.)

[2015-09-22 17:27] Eilon commented on #279
MusicStore SPA project is moved out of this repo. See https://github.com/aspnet/MusicStore/issues/537 for info.

[2015-09-22 17:27] #279 closed

[2015-09-22 17:49] Eilon commented on #272
The SPA project has been removed from this repo (in the dev branch). See https://github.com/aspnet/MusicStore/issues/537 for more info.

[2015-09-22 17:49] #272 closed

[2015-09-22 17:49] Eilon commented on #275
The SPA project has been removed from this repo (in the dev branch). See https://github.com/aspnet/MusicStore/issues/537 for more info.

[2015-09-22 17:49] #275 closed

[2015-09-22 17:49] Eilon commented on #287
The SPA project has been removed from this repo (in the dev branch). See https://github.com/aspnet/MusicStore/issues/537 for more info.

[2015-09-22 17:49] #287 closed

[2015-09-22 17:51] Eilon commented on #416
The SPA project has been removed from this repo (in the dev branch). See https://github.com/aspnet/MusicStore/issues/537 for more info.

[2015-09-22 17:51] #416 closed

[2015-09-23 21:11] kichalla commented on #488
I re-enabled the tests.

[2015-09-23 21:11] #488 closed

[2015-09-28 21:09] Eilon commented on #157
The SPA project has been removed from this repo (in the dev branch). See https://github.com/aspnet/MusicStore/issues/537 for more info.

[2015-09-28 21:09] #157 closed

[2015-09-28 21:09] Eilon commented on #195
The SPA project has been removed from this repo (in the dev branch). See https://github.com/aspnet/MusicStore/issues/537 for more info.

[2015-09-28 21:09] #195 closed

[2015-09-28 21:09] Eilon commented on #256
The SPA project has been removed from this repo (in the dev branch). See https://github.com/aspnet/MusicStore/issues/537 for more info.

[2015-09-28 21:09] #256 closed

[2015-09-29 16:31] danroth27 commented on #125
We think the current code is fine.

[2015-09-29 16:31] #125 closed

[2015-09-29 19:38] Eilon commented on #495
The SPA project has been removed from this repo (in the dev branch). See https://github.com/aspnet/MusicStore/issues/537 for more info.

[2015-09-29 19:38] #495 closed

[2015-09-29 19:39] Eilon commented on #497
Indeed, comments are no longer supported in `project.json` files. See https://github.com/aspnet/Announcements/issues/24 for more info.

This was most likely an issue if the `master` branch (which is always the most recent stable build) was used with a `dev` build of DNX (which is always newer).

[2015-09-29 19:39] #497 closed

[2015-09-29 19:40] Eilon commented on #505
The original MVC project has been removed from this repo (in the dev branch). See https://github.com/aspnet/MusicStore/issues/537 for more info.

[2015-09-29 19:40] #505 closed

[2015-09-29 19:46] Eilon commented on #278
The SPA project has been removed from this repo (in the dev branch). See https://github.com/aspnet/MusicStore/issues/537 for more info.

[2015-09-29 19:46] #278 closed

[2015-09-29 19:46] Eilon commented on #276
The SPA project has been removed from this repo (in the dev branch). See https://github.com/aspnet/MusicStore/issues/537 for more info.

[2015-09-29 19:46] #276 closed

[2015-09-29 19:46] Eilon commented on #274
The SPA project has been removed from this repo (in the dev branch). See https://github.com/aspnet/MusicStore/issues/537 for more info.

[2015-09-29 19:46] #274 closed

[2015-09-29 19:46] Eilon commented on #277
The SPA project has been removed from this repo (in the dev branch). See https://github.com/aspnet/MusicStore/issues/537 for more info.

[2015-09-29 19:46] #277 closed

[2015-09-29 19:46] Eilon commented on #273
The SPA project has been removed from this repo (in the dev branch). See https://github.com/aspnet/MusicStore/issues/537 for more info.

[2015-09-29 19:46] #273 closed

[2015-09-29 19:46] Eilon commented on #271
The SPA project has been removed from this repo (in the dev branch). See https://github.com/aspnet/MusicStore/issues/537 for more info.

[2015-09-29 19:46] #271 closed

[2015-09-29 19:46] Eilon commented on #269
The SPA project has been removed from this repo (in the dev branch). See https://github.com/aspnet/MusicStore/issues/537 for more info.

[2015-09-29 19:46] #269 closed

[2015-10-15 19:53] victorhurdugaci opened #549 "MusicStore src references test"
That's totally wrong and blocks publish and Nano testing.

https://github.com/aspnet/dnx/issues/2986

cc @kichalla

[2015-10-15 19:54] kichalla commented on #549
A temporary workaround would be is to rename the folder `test` to `tests` before we understand and fix the references itself?

[2015-10-15 19:56] victorhurdugaci commented on #549
If you do that, you have to update the build script to look in the new folder. KoreBuild only looks in "test"

[2015-10-15 23:53] rustd commented on #523
We should replace hgroup by header and replace h2 by p tag. @peterblazejewicz do you want to send a PR?

[2015-10-16 18:21] peterblazejewicz commented on #523
@rustd
Sure, you meant aspnet/templates I'm sure :)

[2015-10-16 18:34] victorhurdugaci opened #551 "Rewrite the functional tests to support remote invocation"
It should be possible to run the functional tests on a different machine. We need this for Nano because today we can only run the UTs

[2015-10-18 08:19] cheers00 opened #552 "beta8 build error"
I'm getting the following compilation error with VS2015. I get the same error for build.cmd.

I don't see any contract folder at ``System.Threading.Overlapped\4.0.0\lib``` on my computer.

[code]

[2015-10-18 20:12] Eilon commented on #552
@kichalla can you see if you can repro this?

[2015-10-19 11:06] JanSichula commented on #552
+1 My setup is Windows 8.1 Pro with ASP.NET 5 Beta 8. I am getting same error when trying to build against CoreCLR but when I switch to Desktop CLR, a different error listed bellow appears.

System.TypeLoadException: Could not load type 'Microsoft.Framework.Configuration.ConfigurationProvider' from assembly 'M
icrosoft.Framework.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null'

[2015-10-19 13:02] kichalla commented on #552
I am able to repro this...looking at the lock.json file, the file path for the `compile` is incorrect:

![image](https://cloud.githubusercontent.com/assets/6559784/10578151/23af9dee-7625-11e5-9788-df38e3c79975.png)

As a workaround try changing the `System.Runtime.Serialization.Primitives` in dnxcore50 target framework from `4.0.11-beta-23409` to `4.0.11-beta-23225` and try building again...this s

[2015-10-19 17:03] kichalla commented on #552
@cheers00 @JanSichula while we still investigate the original issue, I have pushed in a regenerated `project.lock.json` file to master branch now...you should now be able to build successfully.

[2015-10-19 20:21] kichalla commented on #552
The build should be fixed now. Feel free to re-open the issue if you still see it.

[2015-10-19 20:21] #552 closed

[2015-10-21 00:11] cesarbs opened #553 "Enable and fix E2E tests on CoreCLR on Linux"
Enable:

    "dnxcore50": {
        "dependencies": {
            "System.Data.SqlClient": "4.0.0-beta-*",
            "System.Xml.XmlDocument": "4.0.1-beta-*"
        }
    }

Fix:

    xUnit.net DNX Runner (64-bit DNXCore 5.0)
      Discovering: E2ETests
      Discovered:  E2ETests
      Starting:    E2ETests
        E2ETests.OpenIdConnectTests.OpenIdConnect_OnMono(serverType: Kestrel, runtimeFl

[2015-10-21 00:12] cesarbs commented on #553
This affects https://github.com/aspnet/Universe/issues/304.

[2015-10-30 20:27] cheers00 opened #557 "errors to publish native images"
I am getting the following errors when I try to publish native images.
```dnu publish -o C:\Temp\MusicStore\MusicStore --no-source --runtime active --native```

I don't get any of these when I publish without ```--native``` option.

[code]

[2015-10-31 19:23] mrag89 opened #558 "How to install System.Reflection.Metadata ?"
I cloned the repository and opened it in Visual Studio 2015. I tried to run it and got this:

[code]

I installed System.Reflection.Metadata through NuGet and still got this. Apologies if this is trivial. This is my first time trying VS or ASP.NET.

[2015-11-02 05:11] Eilon commented on #558
@mrag89 can you try this again after clearing your NuGet caches? There was a problem with that package missing some of its target frameworks and I just uploaded what I believe is the correct version.

You can run `dnu clear-http-cache` to clear out the cache, and you'll also want to run `git clean -xdf` to make sure there aren't stale packages in the cloned repo.

[2015-11-02 15:08] mrag89 commented on #558
@Eilon That didn't work but I figured it out. NuGet was installing the latest stable release of the package (1.1.0). The project required (1.1.0-alpha-00014). I had to allow NuGet to get prerelease packages and specify this version and now it works. I'm guessing NuGet wasn't smart enough to get the right package because the version required is a prerelease package?

[2015-11-02 17:24] Eilon commented on #558
Hmm I'm not sure NuGet configuration should affect this at all. The NuGet.config files and project.json/project.lock.json files should have everything set up already.

[2015-11-02 18:46] mrag89 commented on #558
Tried it again and right now I have to manually install the package on the console:

'''
Install-Package System.Reflection.Metadata -Version 1.1.0-alpha-00014 -Pre
'''

NuGet doesn't resolve the dependency automatically. Adding

'''
"System.Reflection.Metadata": "1.1.0-alpha-00014"
'''

to the project.json, makes the project run without issue. I created a pull request with this change [here](https

[2015-11-02 18:46] #558 closed

[2015-11-02 19:14] Eilon commented on #558
@mrag89 sorry that still doesn't look right. The dependency closure should be picking up that package.

@pranavkm any idea why the alpha version of that package wouldn't be picked up?

[2015-11-02 19:53] pranavkm commented on #558
@mrag89, could you try getting us the restore log? Might tell where it's picking up the packages from. Here's what I would try to make sure you aren't getting cached results:

1. Delete %LocalAppData%\dnu
2. Delete %UserProfile%\.dnx\packages
3. Run `dnu restore > dnurestore.log` and attach it here if it's still failing for you.

[2015-11-10 19:09] smbecker commented on #552
After upgrading to beta8, I am seeing this same exception but while running my application under dnx451 so obviously, the suggested resolution wouldn't have any impact. Any ideas?

[2015-11-10 19:50] smbecker commented on #552
Nevermind, I was using beta8-*, which seems to have pulled in an earlier build of the configuration package. It is working now.

[2015-11-12 09:54] madhavan281981 opened #564 "Sql Server could not be connected in Ubuntu environment 14.04"
Hello Folks,
     I am learn asp.net5 and was going through the sample MVC MusicStore application (from dev branch) with Beta8 (1.0.0-beta8 dnvm) installed in both windows and linux platform. The Startup.cs checks for the running platform windows/linux. If the running platform is Linux, it store the information in InMemoryDatabase. When i try to change this option (similar to else section connect

[2015-11-12 20:00] ryanbrandenburg commented on #189
Fixed in #562

[2015-11-12 20:00] #189 closed

[2015-11-13 19:37] troydai opened #565 "Fix OpenIdConnectTests"
The `OpenIdConnectTests` has been skipped since June.

[2015-11-16 18:06] danroth27 commented on #564
SqlClient is not available on Linux in beta8. We are working on adding support for xplat SqlClient in RC1.

[2015-11-16 18:06] #564 closed

[2015-11-17 17:44] BrennanConroy opened #568 "ArgumentException when trying to remove item from cart"
1. Host MusicStore and browse to it
2. Click on Register
3. Go to the Store and add any item to Cart
4. Remove item from Cart
5. Get below exception

[code]

[2015-11-17 17:48] rynowak commented on #568
/cc @ryanbrandenburg

[2015-11-18 00:12] ryanbrandenburg commented on #568
Hey @BrennanConroy, this sounds like what I fixed in https://github.com/aspnet/Antiforgery/pull/21 Double check that you've got the latest Antiforgery bits from dev.

[2015-11-18 00:13] BrennanConroy commented on #568
Oh maybe, I found this when testing RC1 bits

[2015-11-18 00:18] BrennanConroy commented on #568
Yep that fixed it

[2015-11-18 00:18] #568 closed

[2015-11-21 10:19] madhavan281981 commented on #564
Hello,
           Thanks for the response. After updating the DNVM to RC1 (1.0.0-Rc1-Final), the still still exists in ubuntu environment.

[2015-11-25 10:17] madhavan281981 opened #572 "Ubuntu environment 14.04 - Sql Server Connection - RC1 - 1.0.0-Rc1-Final - Coreclr"
Hello Folks,
I am learn asp.net5 and was going through the sample MVC MusicStore application (from dev branch) with RC1 (1.0.0-Rc1-Final - Coreclr - X64, dnvm) installed in both windows and linux platform. The Startup.cs checks for the running platform windows/linux. If the running platform is Linux, it store the information in InMemoryDatabase. When i try to change this option (similar to else se

[2015-11-25 18:53] muratg commented on #553
@kichalla this affects cross plat runs with CoreCLR.  Please have a look at this soon.

[2015-11-25 19:53] kichalla commented on #553
@muratg I took a look at this now...Currently E2E tests only run on the `dnx451` TFM, but the actual tests are run across both `dnx451` and `dnxcore50` TFMs as the tests dynamically launch the dnx processes.
True that there is still an issue that these tests depend on `dnx451` only which forces to install Mono on `Linux` or `Mac`....but based on @dougbu we currently need Mono always to run our bui

[2015-11-25 20:33] muratg commented on #553
Are we able to run E2E tests on CoreCLR?  I'm not too worried about build needing Mono, but I'd like to see all tests running on CoreCLR so that we can find issues before customers.

[2015-11-25 21:57] BrennanConroy commented on #572
@natemcmaster

[2015-11-25 22:15] natemcmaster commented on #572
Possible duplicate of https://github.com/dotnet/corefx/issues/3760. What's strange is that is occured on Ubuntu. Usually this is a Windows issue.

There are several known issues in SqlClient on Linux in RC1. See https://github.com/aspnet/EntityFramework/pull/3689#issuecomment-158201904 and https://github.com/dotnet/core/blob/master/release-notes/README.md#data.

[2015-11-25 22:38] BrennanConroy commented on #572
What version of System.Data.SqlClient are you using? I glanced at the assembly for 23516 and it doesn't even have a call to SNIInitialize

[2015-11-30 22:53] kichalla commented on #553
@muratg As discussed offline, in general we are able to run E2E tests on CoreClr. The tests related to OpenIdConnect are currently failing, but they fail both in desktop and coreclr and need to be updated to reflect the behavior changes that happened in OpenIdConnect space. There is already another issue tracking this https://github.com/aspnet/MusicStore/issues/565, so we can close this issue

[2015-12-01 16:52] muratg commented on #553
If the runs on CoreCLR are green we can close it, otherwise let's keep it open until we get green on CI.

[2015-12-02 11:21] alexsandro-xpt opened #574 "Heroku build error"
After click in Deploy to Heroku button and them Deploy for free.

The build process fire a error:

There was an issue building your app. This can mean your app.json's project is not a valid Heroku application. Please ensure your app is deployable to Heroku and try again.

    -----> Fetching set buildpack https://github.com/heroku/dotnet-buildpack.git... done
    -----> ASP.NET 5 app detected

[2015-12-04 06:49] #487 closed

[2015-12-06 13:22] huoshan12345 opened #576 "System.InvalidOperationException"
After I run the project with Kestrel, an exception is thrown.The full info is as follows:

	fail: Microsoft.AspNet.Diagnostics.ExceptionHandlerMiddleware[0]
	An exception was thrown attempting to execute the error handler.
	System.InvalidOperationException: Unable to resolve service for type 'Microsoft.Extensions.CompilationAbstractions.ILibraryExporter' while attempting to activate 'Microsoft.Asp

[2015-12-07 01:10] Eilon commented on #576
@kichalla can you take a look?

[2015-12-07 01:15] Jeffiy commented on #576
You should use 1.0.0-rc2 if you on the dev branch.

[2015-12-07 17:43] kichalla commented on #576
@huoshan12345 Which git branch are you using?

[2015-12-07 19:39] muratg commented on #565
@kichalla Could you have a look into enabling these?

@Tratcher FYI. @kichalla may require your help since you're the domain expert :)

[2015-12-08 07:01] huoshan12345 commented on #576
@kichalla I used 1.0.0-rc1 on the dev branch at that time. Then I tried with 1.0.0-rc2, another exception about the Razer (sorry I forgot to get a snapshot or exception info) was thrown.

Today I reinstall the dnx, then I switch dnx to 1.0.0-rc2 in vs2015 and restore packages, the project can run normally now.

[2015-12-08 17:36] kichalla commented on #576
Thanks for the confirmation. Closing this issue now. Feel free to open/re-open it if you see an issue again.

[2015-12-08 17:36] #576 closed

[2015-12-08 17:42] huoshan12345 commented on #576
Thank you all

[2015-12-09 15:53] chemitaxis opened #577 "Error trying to compile"
The thread 0xd38 has exited with code 0 (0x0).
Exception thrown: 'System.InvalidOperationException' in Microsoft.Extensions.DependencyInjection.dll
Exception thrown: 'System.Reflection.TargetInvocationException' in mscorlib.dll
Exception thrown: 'System.InvalidOperationException' in mscorlib.dll

Just running Web...  Thanks!

[2015-12-09 18:04] chemitaxis commented on #577
On Mac, I have the error too...

fail: Microsoft.AspNet.Diagnostics.ExceptionHandlerMiddleware[0]
      An unhandled exception has occurred: Unable to resolve service for type 'Microsoft.Extensions.CompilationAbstractions.ILibraryExporter' while attempting to activate 'Microsoft.AspNet.Mvc.Razor.Compilation.RoslynCompilationService'.
      System.InvalidOperationException: Unable to resolve servic

[2015-12-11 17:51] kichalla opened #578 "HttpClient redirect fails in Mono 4.0.5 causing E2E tests to fail"
The following issue filed on Mono describes the problem
https://bugzilla.xamarin.com/show_bug.cgi?id=30604

Note that Travis CI runs on Mono 4.0.5 version

The repro for the issue is in *first* comment and the **comment 8** mentions about this being fixed in 4.2 which I was able to verify as my Ubuntu vm has 4.2.1

Currently the 'tests' run only on dnx451, which means only Mono...we should investi

[2015-12-11 21:48] muratg commented on #578
Yes, we should make the tests run on CoreCLR as soon as possible.

cc @Eilon

[2015-12-14 18:26] kichalla commented on #553
This issue is fixed except for one test case. More details below:

The tests now run on CoreClr. i.e the tests run on CoreClr and launch servers of different flavors (kestrel + mono, kestrel + clr, kestrel + coreclr etc.).

After changing the tests to run on CoreClr, we hit following issues related to HttpClient:
https://github.com/dotnet/corefx/issues/4945
https://github.com/dotnet/corefx/issues/

[2015-12-14 18:26] #553 closed

[2015-12-15 18:27] kichalla commented on #578
This has been fixed in commit. We now use CoreClr to run tests. 5c2ef70cae9116f68d2df3e94293b31d7108f8e3

[2015-12-15 18:27] #578 closed

[2015-12-15 21:27] shibby808 commented on #577
same here (compiled with 1.0.0-RC2; MAC OSX)

[2015-12-18 16:18] rynowak opened #580 "Update use of Antiforgery + Ajax to built-in header support"
Our use of antiforgery for ajax in this sample is a bit ad-hoc. https://github.com/aspnet/MusicStore/blob/5a3c4957d9707a9901891a6b909863d1a34cc37f/src/MusicStore/Controllers/ShoppingCartController.cs#L72

We have built in support for using a header for antiforgery in rc2, we should update the sample to use our recommended pattern.

[2015-12-31 19:12] dongliu828 opened #583 "Problem in executing the source codes"
I have downloaded the zip file, unpacked it, compiled it, and executed it with Visual Studio 2015 Community on IIS Express.

Compilation is OK.   Executing the project throws an error in Program.cs file as -

An exception of type 'System.IO.FileLoadException' occurred in Microsoft.AspNet.Hosting.dll but was not handled in user code

Additional information: Could not load file or assembly 'System.D

[2016-01-07 16:45] jarrettv commented on #583
Also seeing this issue

[2016-01-10 22:46] briancabbott opened #584 "Problems Compiling MusicStore."
I'm currently unable to compile the Music Store sample Application. The errors that I'm current receiving are:

[code]

If anyone could help me out, I would greatly appreciate it!

Thank you,

Brian Abbott

[2016-01-10 22:50] briancabbott commented on #584
Here is maybe a slightly more legible version:

MusicStore\src\MusicStore\StartupOpenIdConnect.cs(136,48): DNX,Version=v4.5.1 error CS1660:
	Cannot convert lambda expression to type 'OpenIdConnectOptions' because it is not a delegate type
MusicStore\src\MusicStore\Startup.cs(165,43): DNX,Version=v4.5.1 error CS1660:
	Cannot convert lambda expression to type 'FacebookOptions' because it is not a de

[2016-01-10 23:37] briancabbott commented on #584
It looks like on the working extension methods, the second definition takes an Action<T> Delegate rather then just the object

Currently,
IApplicationBuilder UseGoogleAuthentication(this IApplicationBuilder app, GoogleOptions options)

<member name="M:Microsoft.AspNet.Builder.FacebookAppBuilderExtensions
       .UseFacebookAuthentication(Microsoft.AspNet.Builder.IApplicationBuilder)">
   <summary>

[2016-01-11 07:39] xaclincoln commented on #583
same issue as @jarrettv  when running samples in Routing repository.

[2016-01-12 00:18] Cuiqs76 commented on #583
same issue as @jarrettv when open the project. the reference lib couldn't load.

[2016-01-12 01:08] chancewen commented on #583
same issue as @jarrettv .

[2016-01-12 19:58] #580 closed

[2016-01-13 00:18] Cuiqs76 commented on #583
@jarrettv @xaclincoln @chancewen  Have you solved the problem?

[2016-01-14 15:04] nteague22 commented on #564
The last comment still stands in a windows environment running dotnet5.5 library code, dnxcore50 has intermittent issues, but dotnet5.5 enabled DataReader code fails

[2016-01-15 21:19] Eilon commented on #584
I just re-cloned the repo and the build worked fine. Some tests failed, but I think that's more likely a setup issue on my machine.

[2016-01-15 21:22] Eilon commented on #532
`AspNet.Loader.dll` is no longer used, so closing this.

[2016-01-15 21:22] #532 closed

[2016-01-15 21:24] Eilon commented on #525
This should now be significantly improved because everything should be using the NuGet v3 APIs, which are significantly faster. This applies to both NuGet and MyGet feeds.

[2016-01-15 21:24] #525 closed

[2016-01-19 11:46] capesean commented on #583
@jarrettv that's probably caused by an assembly version mismatch. Check if your project is on the right (RC2?) version.

[2016-01-22 20:26] JunTaoLuo opened #586 "Change to build to use dotnet"
Blocked on ServerTests updates. Will start once work there is complete.

[2016-01-25 00:06] madmunsterdaddy opened #587 "Suggestion: Store album art in database"
Would be nice to see album art stored in the database to have correct MVC guidance on dealing with image loading in this scenario (caching, byte[] to image in view model, etc..)

[2016-01-25 05:47] Eilon commented on #577
This sounds like a mismatch of builds between the DNX and the packages. Both the public build CI and internal build CI have been green (until a few days ago, when we just renamed everything and caused some breaks).

[2016-01-25 05:47] #577 closed

[2016-01-25 05:48] Eilon commented on #583
This sounds like a mismatch of builds between the DNX and the packages. Both the public build CI and internal build CI have been green (until a few days ago, when we just renamed everything and caused some breaks).

[2016-01-25 05:48] #583 closed

[2016-01-25 05:48] Eilon commented on #584
This sounds like a mismatch of builds between the DNX and the packages. Both the public build CI and internal build CI have been green (until a few days ago, when we just renamed everything and caused some breaks).

[2016-01-25 05:48] #584 closed

[2016-01-25 05:53] Eilon commented on #557
We're changing from `dnu publish` to the new `dotnet` commands, which are being built here: https://github.com/dotnet/cli/

[2016-01-25 05:53] #557 closed

[2016-01-25 05:57] Eilon commented on #514
We haven't seen this error in quite some time now and we've fixed a lot of issues in `dnu`, so closing this.

[2016-01-25 05:57] #514 closed

[2016-01-25 06:51] AirBar84 commented on #583
Hardcore breakages... argh... very frustrating.

[2016-01-25 17:06] Eilon commented on #583
@AirBar84 indeed, and we're sorry about that - we're working as hard as we can to get all the issues resolved.

[2016-01-29 13:41] keroger2k opened #588 "project.json dependency issue"
Cloning music store and doing a restore produces an error.

NU1002	The dependency Microsoft.AspNetCore.Mvc 1.0.0-rc2-16991 in project MusicStore does not support framework DNXCore,Version=v5.0.	MusicStore	C:\Users\user\Documents\Visual Studio 2015\Projects\MusicStore-dev\src\MusicStore\project.json

running latest rc2 build.

[2016-01-29 14:19] keroger2k commented on #588
I discovered I had an old version of DNX installed that was causing this issue.

set DNX_UNSTABLE_FEED=https://www.myget.org/F/aspnetcidev/api/v2
dnvm upgrade -u

Fixed the issue for me.

[2016-01-29 14:19] #588 closed

[2016-02-01 08:04] chancewen commented on #583
@Eilon thank you !

Do you mean that we need to wait a few days for the new version of DNX  to match the package ?

Currently through the dnvm, I can get the latest version is 1.0.0.rc2-16357 on windows, it does not work.

[2016-02-01 17:57] Eilon commented on #583
@chancewen yes, there are a few different big changes going on right now and we have as many people on the team as possible working on finishing up the work.

As always, the most stable builds (RC1) are on nuget.org and continue to work.

[2016-02-02 22:27] Eilon commented on #586
@kichalla a gift from John.

[2016-02-05 18:25] Eilon commented on #530
Sorry for the delay on responding to this, but there isn't enough information here to reproduce the error. If you still see an error, please post the error text, a screenshot, or other information that will help us diagnose the issue. Thanks!

[2016-02-05 18:25] #530 closed

[2016-02-05 18:35] Eilon commented on #572
Closing this as it appears to be an older known issue.

[2016-02-05 18:35] #572 closed

[2016-02-05 18:40] Eilon commented on #496
@divega this issue is a bit old, but does it look familiar to you? The current code is a tiny bit different: https://github.com/aspnet/MusicStore/blob/dev/src/MusicStore/Models/SampleData.cs#L26

Was there any known issue on SQL Azure with certain EF operations? (E.g. `Database.EnsureCreatedAsync()`.)

[2016-02-05 18:41] Eilon commented on #483
I'm assuming this is no longer an issue...

[2016-02-05 18:41] #483 closed

[2016-02-05 19:46] filipw commented on #583
same here, there is no way to run anything from the CI builds because `1.0.0.rc2-16357` crashes with this exception

[2016-02-05 22:52] divega commented on #496
Yes, it looks familiar. This exception came up a long time ago when we were using sequences by default for auto-increment columns in SQL Server which is a feature that at least at that time wasn't supported in Azure SQL Database. We have swapped to use `IDENTITY` since then so it shouldn't be an issue anymore.

[2016-02-05 22:53] divega commented on #496
Closing as per the comment above the default behavior in EF should now work with Azure SQL DB but feel free to reopen or create a new issue if you hit the issue again.

[2016-02-05 22:53] #496 closed

[2016-02-09 09:54] nockawa commented on #583
Almost no documentation, only one real sample that's not working: asp.net core is like being in the jungle right now it seems...
Is there a way to get it working ?

[2016-02-09 17:49] Eilon commented on #583
@nockawa this is a really really really big change so it's taking us a bit longer than we were expecting. Some apps definitely already work, but MusicStore perhaps not.

[2016-02-09 18:15] nockawa commented on #583
Can you point me to some "real world" samples that are working right now?
I would like to learn about authentication, with external provider, session state, cache.
Any working samples would do.
Thanks

[2016-02-09 23:56] Eilon opened #589 "Remove TestMiddleware"
https://github.com/aspnet/MusicStore/blob/dev/src/MusicStore/TestMIddleware.cs

Looks like it was maybe added by mistake...

[2016-02-10 00:40] Eilon opened #590 "Add logging for "business events""
Music Store currently does no logging of its own.

To better demonstrate logging, it should log business events such as:

* Adding/removing items to/from the cart
* Starting checkout
* Completed checkout
* User register/login/logout activity (success + failure)

I recommend using the regular `ILogger<T>` pattern for logging (not the fancy lambda stuff).

[2016-02-10 23:50] cheers00 commented on #586
Wondering if ASP.NET5 and MusicStore will continue to use ```dnx``` and ```dnu``` or moving to dotnet cli. Currently I can restore but can not run E2E test.

[2016-02-11 17:15] Eilon commented on #586
@cheers00 everything is switching over to `dotnet-cli`, nothing will use `dnx` and `dnu` because they are going away.

[2016-02-11 21:13] salerth commented on #586
Probably a bit premature since this issue is still open, but I get the following error if I try to run (dev branch) on OSX :

[code]

[code]

[2016-02-12 19:24] #589 closed

[2016-02-16 16:31] kichalla commented on #586
09590416bd2e08f3dcb42dce64454ea74855ac14

[2016-02-16 16:31] #586 closed

[2016-02-16 19:38] cheers00 commented on #586
@kichalla  I was able to build the latest but E2ETest project failed\skipped.

[code]
I tried to E2ETests run manually. ```dotnet.exe restore``` was successful but ```dotnet.exe run``` failed. Do I need to add ```emitEntryPoint: true``` to project.json?

[code]

[2016-02-16 21:03] kichalla commented on #586
@cheers00
1. Change the aspnet vnext feed to `<add key="AspNetVNext" value="https://www.myget.org/F/aspnetvolatiledev/api/v3/index.json" />` in MusicStore repo's Nuget.config
2. dotnet restore
3. dotnet build
4. dotnet test (this will cause the dotnet xunit test runner to run the tests)

[2016-02-16 21:25] salerth commented on #586
On OSX it will only build if I remove the "dnx451" framework from project.json.  It doesnt run however, still throws an EntryPointException as above.

[2016-02-18 17:15] jonthegiant opened #592 "dnu restore -- fails to locate the NETStandard.Library"
Executing `dnu restore` results in the error: `Unable to locate dependency Microsoft.dotnet.corehost`
This is because the NETStandard.Library hasn't been released on NuGet yet.

Adding
`<add key="DotNet-Core" value="https://myget.org/f/dotnet-core/api/v3/index.json" />`
to `NuGet.config` resolves the issue.

[2016-02-25 04:41] dougbu opened #594 "Get tests working on Travis / Linux"
MusicStore builds have been erroring or failing consistently on Travis for a while. Looks like the last successful Travis run was a month ago. (Admittedly, that span may include runs where Linux succeeded but OS X failed.)

The current issues occur during `Testing.SelfHostDeployer.StartSelfHost()` calls. May relate to aspnet/KestrelHttpServer#654 and look a bit similar to failures in aspnet/Entrop

[2016-02-25 17:00] muratg commented on #594
@kichalla Could you please take a look?

[2016-02-26 11:18] xatabhk opened #595 "It cannot be started from VS IDE."
Only "dotnet run" works.

[2016-02-26 15:32] greenygh0st commented on #574
Same issue

[2016-02-29 17:46] kichalla commented on #594
Build now passes on Travis.

[2016-02-29 17:46] #594 closed

[2016-03-02 18:14] Eilon commented on #595
@xatabhk we're working on an update to VS to better support this.

Though, I think with the latest changes as of yesterday this should open up in VS.

@kichalla can you confirm this?

[2016-03-02 18:35] xatabhk commented on #595
About latest changes, I take you mean Microsoft.AspNetCore.Mvc.Dnx. Yes, it makes running Core applications in IDE work; but publishing from IDE is still broken.

[2016-03-02 19:08] SajayAntony opened #596 "Dotnet restore fails on linux"
This is possibly due to the netstandard change.
/cc @muratg @NTaylorMullen

[2016-03-02 19:08] Eilon commented on #596
What's the error?

[2016-03-02 19:18] SajayAntony commented on #596
Closing because this doesn't repo on a fresh machine. Most likely due an issue on the lab.
/cc @yuwaMSFT if you want to add the error we saw to this bug please do.

[2016-03-02 19:18] #596 closed

[2016-03-02 19:36] muratg commented on #596
Interesting, because our CI still seems to be failing...

[2016-03-02 19:47] SajayAntony commented on #596
Here is the error on Yu's Ubuntu14 setup.

@muratg  Yu is going to try on another machine.  `./build./sh ` still fails for him.  @yuwaMSFT

[code]

[2016-03-02 20:20] yuwaMSFT commented on #596
On another Azure VM I could build fine...

[2016-03-03 00:18] Eilon commented on #596
Maybe it's an old build of DNX? Or dotnet-cli?

[2016-03-03 00:41] natemcmaster opened #597 "Cleanup EF todos (where possible)"
Music store has some workarounds for limitations that used to exist in EF. Cleanup these usages.

- https://github.com/aspnet/MusicStore/blob/dev/src/MusicStore/Models/ShoppingCart.cs#L107
- https://github.com/aspnet/MusicStore/blob/dev/src/MusicStore/Models/MusicStoreContext.cs#L21
- https://github.com/aspnet/MusicStore/blob/dev/src/MusicStore/Models/MusicStoreContext.cs#L25

[2016-03-03 00:45] DavidObando opened #598 "Add build health badges to README.md"
We're building but I'd like to have a status badge.

## Travis

Travis:   [![Travis](https://travis-ci.org/aspnet/MusicStore.svg?branch=dev)](https://travis-ci.org/aspnet/MusicStore)

## Appveyor

AppVeyor: [![AppVeyor](https://ci.appveyor.com/api/projects/status/ja8a7j6jscj7k3xa/branch/dev?svg=true)](https://ci.appveyor.com/project/aspnetci/MusicStore/branch/dev)

[2016-03-03 00:55] DavidObando commented on #598
@Eilon can you paste here the MusicStore badge from Appveyor? I don't have access to see it.

[2016-03-03 01:31] SajayAntony commented on #597
/cc @martinpf @DavidObando

[2016-03-03 18:24] Eilon commented on #598
The MusicStore id on AppVeyor is ja8a7j6jscj7k3xa.

[2016-03-03 18:25] DavidObando commented on #598
@Eilon thanks!

[2016-03-03 18:28] DavidObando commented on #598
Done.

[2016-03-03 18:28] #598 closed

[2016-03-03 21:55] #597 closed

[2016-03-04 01:03] kichalla opened #600 "Fix the flaky google login scenario test"
It currently has been commented out to unblock the build.
https://github.com/aspnet/MusicStore/commit/65f24a3fc790c157db8d00b3231ebdf22b3ca427

@ryanbrandenburg

[2016-03-04 17:34] natemcmaster commented on #592
There isn't really any actionable item here. We won't release this package on nuget until RC2. As you identified, the solution is to use pre-release package feeds.

[2016-03-04 17:34] #592 closed

[2016-03-07 19:32] natemcmaster opened #602 "Identity cookie name is set incorrectly"
We expecting the cookie name for identity to be `".AspNetCore.Identity.Application"` but actually getting `".AspNetCore..AspNetCore.Identity.Application"`. Is this a bug in how Music Store is configured or in Identity?

cc @kichalla @JunTaoLuo

[2016-03-07 19:34] JunTaoLuo commented on #602
Probably an issue in Identity. I'll take a look

[2016-03-07 21:34] JunTaoLuo commented on #602
Moving this issue to https://github.com/aspnet/Identity/issues/763

[2016-03-07 21:34] #602 closed

[2016-03-08 17:59] DavidObando opened #604 "Build fails on publish when user's home directory has a white space"
Ran into this while running in a personal computer.

At some point in the build we run:
[code]
Which fails with the following message:
[code]
Quick workaround: rename the user home folder or use a different user with no spaces in the user name. Found a way to rename [here](http://answers.microsoft.com/en-us/insider/forum/insider_wintp-insider_security/rename-user-account-folder-in-windows-10-previ

[2016-03-08 20:15] DavidObando commented on #604
Issue is external, rooted here: https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNetCore.Server.Testing/Deployers/ApplicationDeployer.cs#L52. Opening a bug in Hosting.

[2016-03-08 20:15] #604 closed

[2016-03-09 10:48] stefan505 opened #606 "cls"

[2016-03-09 10:48] #606 closed

[2016-03-10 16:29] sonealtx opened #607 ""netstandardapp1.5" is an unsupported framework."
Hi, I'm trying to run the project in Visual Studio 2015, and I'm getting this error in project.json:

Severity	Code	Description	Project	File	Line	Suppression State
Error	NU1008	"netstandardapp1.5" is an unsupported framework.	MusicStore	C:\Users\Seth\Documents\Visual Studio 2015\Projects\MusicStore-dev\src\MusicStore\project.json	60

I'm not sure how to get past this error.
Thanks in advance for a

[2016-03-10 16:38] davidfowl commented on #607
Use the master branch.

[2016-03-10 17:34] sonealtx commented on #607
thanks!

[2016-03-13 20:53] Eilon commented on #595
@xatabhk indeed, many things in the IDE will be non-functional until an update to VS is released.

[2016-03-13 20:54] #607 closed

[2016-03-16 12:53] xatabhk opened #610 "An unhandled exception has occurred: Sequence contains no matching element"
C:\temp\MusicStore-dev\src\MusicStore>dotnet --version
.NET Command Line Tools (1.0.0-beta-001806)

Product Information:
 Version:     1.0.0-beta-001806
 Commit Sha:  N/A

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.10586
 OS Platform: Windows
 Runtime Id:  win10-x64
![dotnet_err](https://cloud.githubusercontent.com/assets/6814395/13812860/6206ceaa-ebb9-11e5-806a-40d69037cc5e.png

[2016-03-16 15:07] mcliment commented on #610
This also happens to me with 1.0.0-beta-001694 (sha 88c1340f6d). It fails on the first request. This is the raw log from the error page:
[code]

[2016-03-16 20:53] Eilon commented on #610
@pranavkm @pakrym any ideas?

[2016-03-16 20:54] pakrym commented on #610
DependencyModel MVC is build against is not compatible with latest `cli`

[2016-03-16 21:05] Eilon commented on #610
Ah, figured that was it. We're updating to a newer CLI right now so that should get fixed.

[2016-03-16 21:05] Eilon commented on #610
@pranavkm putting this on your plate to confirm that the new CLI + dep model works.

[2016-03-17 00:39] pranavkm commented on #610
This should be fixed with https://github.com/aspnet/Mvc/commit/4299a4d50bd782b9253c0e69a0505463492bfc5f. I verified this change using 1.0.0-beta-001817 which we'll eventually update to.

[2016-03-17 18:53] victorhurdugaci opened #612 "Make the repo build without the src folder"
On the CI we want to run tests without src. Tests will get recompiled but the product will be restored from packages.

Once you fix this, please update `KOREBUILD_NOSRC_EXCLUDE` on the CI

[2016-03-17 22:32] pranavkm commented on #610
Could you try the latest Mvc from aspnetcidev?

[2016-03-17 22:54] xatabhk commented on #610
@pranavkm The latest MVC works. Thanks.

[2016-03-17 22:54] #610 closed

[2016-03-17 22:59] xatabhk commented on #595
I find IDE debugging is working again.
dnx:16595
dotnet:001840

[2016-03-17 22:59] #595 closed

[2016-03-18 06:24] blanceok opened #613 "Cannot successful reduction package, how should I do?"
Cannot successful reduction package, how should I do?
VS2015

[2016-03-18 17:21] Eilon commented on #613
Do you mean restoring the package?

[2016-03-19 07:41] John0King opened #615 "Want a sample that not use EF"
EF is great, but  some times we might can not use EF, is there a sample that use raw sql?

[2016-03-23 18:29] nerradchoong opened #616 "[question] dependencies on issue on build"
"Microsoft.Extensions.Configuration.CommandLine": "1.0.0-*",
"Microsoft.Extensions.Options.ConfigurationExtensions": "1.0.0-*",

The dependency Microsoft.Extensions.Configuration.CommandLine 1.0.0-rc2-200270 in project MusicStore.Test does not support framework .NETFramework,Version=v4.5.1

how do you guys solve this?

[2016-03-23 20:17] Eilon commented on #616
@kichalla any idea?

[2016-03-23 21:34] kichalla commented on #616
Since its been a while we had a coherence build, building `dev` with existing coherence packages is probably not guaranteed to work.

[2016-03-24 10:39] branciat opened #618 "RuntimeMetadataVersion exception with debian and mono"
Hi,

I try to run the project with the configuration net451 under debian with mono 4.2.3.
I get the exception below

[code]

When i execute dotnet restore, it show 2 warning
[code]
But mono version is 4.2.3

And when i execute the command "dotnet run" with by default the netstandard 1.5, i get the error below
[code]

It seem to have a problem with the runtime specific package.

Under ubuntu 14.04

[2016-03-26 12:38] cevarief commented on #616
I've also got too many dependencies error both using dx 451 and 50.

Unable to resolve dependency Microsoft.AspNetCore.Authentication.Cookies 1.0.0-rc2-20320
Unable to resolve dependency Microsoft.AspNetCore.Authentication.Facebook 1.0.0-rc2-20320
Unable to resolve dependency Microsoft.AspNetCore.Authentication.Google 1.0.0-rc2-20320
Unable to resolve dependency Microsoft.AspNetCore.Authentication

[2016-03-30 20:26] sivagms opened #622 "MusicStore app consumes >3GB memory with 300 connections - WorkStationGC"
Please take a look at the memory dump
/CC @SajayAntony

[2016-03-30 20:29] sivagms opened #623 "MusicStore app consumes 50% of CPU with just one single client."
Azure standard A2 machine
Investigate the cpu profile to see what are the culprits..
/CC @SajayAntony

[2016-03-30 21:06] BrennanConroy commented on #565
9b29eb19ae6e4ca2f8c3dbfb56aee56eec18ea85

[2016-03-30 21:06] #565 closed

[2016-03-31 17:11] DavidObando commented on #622
The minidump is 5.15 GB. SOSEX is also having trouble creating a heap index (it's been running for over 18 hours now) although it doesn't appear to be stuck. Will update again when there's progress.

[2016-03-31 17:48] DavidObando commented on #622
The dump is unusable by the tools I've tried so far as unfortunately it was taken during garbage collection. Indexing the heap isn't possible with this dump. Will talk to @sivagms regarding getting another dump.

[2016-03-31 18:43] kichalla commented on #600
044dab1a704a3a0f0e8cc5d53b1f00ff820fe486

[2016-03-31 18:43] #600 closed

[2016-03-31 18:48] rynowak commented on #622
This might be the same issue I was running into investigating https://github.com/aspnet/Mvc/issues/3516 - I'd be interested to see this when you get the data.

[2016-03-31 18:56] SajayAntony commented on #622
@martinpf can you help David get another process dump?

[2016-04-05 12:37] sivagms commented on #622
i'll get a new dump

[2016-04-05 17:29] Eilon commented on #615
Not planning on such a sample at this time.

[2016-04-05 18:34] #613 closed

[2016-04-05 19:09] JunTaoLuo opened #627 "Re-enable tests skipped due to CoreFX bug"
Revert the changes in https://github.com/aspnet/MusicStore/commit/a3b959a02837fe413987cd513a8d2439d42f05a7 once we have the CoreFX fix for https://github.com/dotnet/corefx/issues/7440

[2016-04-08 18:50] sds123 opened #630 "Unable to build Musicstore with latest .net cli"
Hi,
I have downloaded the latest .net cli from [https://github.com/dotnet/cli ]()
The version of .net cli  I am using is `1.0.0-rc2-002306`.

Later I navigated to folder src/Musicstore using cmd prompt   and  executed the below commands

- dotnet restore
- dotnet build

However I see error msg
[code]

I know , we will have to update the Project.json. Kindly can anyone guide me what changes
 are su

[2016-04-08 23:49] deivisonrpg commented on #630
same error here.

[2016-04-08 23:54] kichalla commented on #630
Please do not use arbitrary CLI versions to build MusicStore. Our build system locks on specific CLI versions which works for ASP.NET. if you are trying to build MusicStore, you can just clone (if you have already cloned, then delete the `.build` folder which might got generated earlier) and run the build command (build.cmd or build.sh if on non-windows). Try this and let us know if you still see

[2016-04-11 16:25] sds123 commented on #630
Thank you @kichalla  for your response.
I followed the steps you mentioned
1. deleted the .build folder
2. In cmd , executed build.cmd
3. Selected option R: Run

I got the below errors

[code]

Kindly let me know , if I am missing on anything

[2016-04-11 17:43] DavidObando commented on #622
@sivagms do we have a new dump for this?

[2016-04-11 21:24] BeelzeBu commented on #630
You need to add

"runtimes":{
    "osx.10.11-x64": {},
    "ubuntu.14.04-x64": {},
    "win7-x64":{}
    },

to you project.json

[2016-04-11 22:15] martinpf commented on #623
PerfView shows 40% of MusicStore CPU in EntityFramework and 70% in async libraries.   Looks like the cost of iterating through query results is high

[2016-04-11 23:33] sds123 commented on #630
Thank you @BeelzeBu .
Yes , when I run build.cmd , I can compile the application.

My question is , which is the  cli version locked for MusicStore ,

All I want to do is, get the exact cli version  and run below commands

- dotnet restore
- dotnet build
- dotnet run
- dotnet publish

[2016-04-12 17:02] kichalla commented on #616
This should be fixed now. Make sure to delete the `.build` folder or (do `git clean -xdf` if you are using `git`) and then kick start the build.

Feel free to re-open the issue with more details.

[2016-04-12 17:02] #616 closed

[2016-04-12 18:17] SajayAntony opened #631 "Music store needs to be able to use shared runtime."
/cc @muratg @davidfowl

[2016-04-12 18:33] muratg commented on #631
@NTaylorMullen @pranavkm @pakrym

[2016-04-12 18:34] muratg commented on #631
(Also tracked here for the changes across the repos: https://github.com/aspnet/Coherence-Signed/issues/202)

[2016-04-12 23:02] sds123 commented on #630
Hi @BeelzeBu , @kichalla
I managed to restore, build , run  the server project in src/MusicStore.
I have deployed it at "http://localhost:5005/" successfully !!!!!

Now I open project  at  test/E2Etest.
I can restore and build the project successfully. However when I execute  command `dotnet test` , I get error at
line 124        ` var deploymentResult = deployer.Deploy();`

Below is error message

[2016-04-13 16:31] BrennanConroy commented on #627
This can be reverted now

[2016-04-13 18:41] #590 closed

[2016-04-13 21:08] michaelhidalgo opened #633 "Heroku deploy seems to be broken"
I was trying to deploy MusicStore and it failed at Heroku. This is the log message I got :

[code]

[2016-04-14 05:23] anpete opened #635 "Sequence contains no elements when running under stress"
Running a stress scenario with 10 clients, we sometimes get:

[code]

Could be a race condition where two clients are hitting RemoveFromCart at the same time.

[2016-04-14 16:27] anpete opened #636 "Some calls to EF are sync"
E.g. https://github.com/aspnet/MusicStore/blob/dev/src/MusicStore/Models/ShoppingCart.cs#L57

Is this intended? If not, I will send a PR.

[2016-04-14 16:47] kichalla commented on #636
I do not think its intended.

[2016-04-14 22:39] anpete opened #639 "Make queries no-tracking by default"

[2016-04-14 23:53] rynowak opened #640 "Typo in jquery.validate CDN URL"
This should be:
[code]

Instead of:
[code]

[2016-04-15 00:13] Eilon commented on #640
Fix for RC2, port back to dev.

[2016-04-15 18:04] kichalla opened #642 "Show test progress when running functional tests"
Currently when functional tests run there is not much output shown on the screen giving the users the impression that the tests are in hung state and users tend to kill the process.

I agree that the current experience is better compared to earlier one where we used to write bunch of log output statements and was not user friendly. Currently we show the detailed output only when the test fails whi

[2016-04-15 18:05] #640 closed

[2016-04-15 18:06] rynowak commented on #640
Release: e72c9e3e469fefdf133112a59424084e59ac9929
Dev: cbf7dd55ae533d40589b7595e88b111a5bdafaa2

[2016-04-15 18:12] natemcmaster commented on #642
Yes, xunit swallows the E2E tests logger so individual test output can be isolated. `dotnet test -verbose`? This will show you when a test has started.

Alternatively, you could add scatter a few lines of `Console.WriteLine("ping: don't worry, I'm still running!")` into the tests.

[2016-04-15 20:32] #636 closed

[2016-04-17 21:17] evertmulder commented on #630
I was able to build using dotnet-cli 1.0.0-rc2-002416 using the following project.json

  "authors": [
    "Microsoft"
...
    "Microsoft.Extensions.Options.ConfigurationExtensions": "1.0.0-*",
    "Microsoft.NETCore.App": {
      "type": "platform",
      "version": "1.0.0-*"
    }
  },
  "frameworks": {
    //"net46": { },
    "netcoreapp1.0": {
      "imports": [
        "portable-net45+wp80+wi

[2016-04-17 21:54] davidfowl commented on #630
Move the dependency on Microsoft.NETCore.App to the netcoreapp target framework only.

[2016-04-18 22:00] Eilon commented on #612
@victorhurdugaci any chance you'll have time for this?

[2016-04-18 22:01] Eilon commented on #642
Yeah I'd be fine with just some `Console.WriteLine()`s scattered about. Pretty cheap and easy fix. But if there's some nicer way that's also cheap we could do that instead.

[2016-04-19 07:33] evertmulder commented on #630
Thanks David. This works. I think the correct config for rc2 is:
[code]

[2016-04-20 20:50] sds123 commented on #630
Thanks all
I have 1 question. Could anyone successfully run E2ETest

I get the below error

[code]

[2016-04-22 18:24] friism commented on #607
@davidfowl If `dev` doesn't work, should the default app for this repo be `master`?

[2016-04-23 00:20] Eilon commented on #607
`master` is the latest released, but `dev` is the one with active development, so we keep that as the default.

[2016-04-25 18:10] #642 closed

[2016-04-26 00:26] JunTaoLuo opened #649 "Smoke test behaviour change"
@kichalla I believe your changes in https://github.com/aspnet/MusicStore/pull/647 broke the smoke tests. I have made a fix in
https://github.com/aspnet/MusicStore/commit/30ab5d2d8f6dff71045244b0213e1760ac954ff6 but I want to check with you so I'm opening this issue.

Your change on line https://github.com/aspnet/MusicStore/pull/647/files#diff-caf0051a47e53865ffb9052c1ab86d3bL49 removed the call to

[2016-04-26 17:54] JunTaoLuo opened #650 "Remove duplicate content files in MusicStore.Standalone"
Once https://github.com/dotnet/cli/pull/2493 is available we can remove the duplicate content files I added to MusicStore.Standalone in https://github.com/aspnet/MusicStore/pull/645. The update in the cli will allow us to map out-of-directory content files to the publish output directory correctly.

[2016-04-27 17:16] Eilon opened #652 "Fix project.json file trailing comma"
This is broken in `dev` and `release`.

https://github.com/aspnet/MusicStore/blob/dev/src/MusicStore/project.json#L53

@kichalla can you fix this ASAP for RC2, then port to RTM? You're approved.

[2016-04-27 17:18] kichalla commented on #652
Sure

[2016-04-27 17:34] kichalla commented on #652
f7d5a1faf24a3e8cbdc9b180a6d2b38e4963f6f4

[2016-04-27 17:34] #652 closed

[2016-04-27 17:54] Eilon commented on #652
Thanks, that was fast! 😄

[2016-05-01 23:42] chemitaxis opened #653 "Social Login"
Sometimes, in Facebook Login, the email claim, is empty:

[code]

Any fix? Thanks!!

[2016-05-02 18:36] victorhurdugaci opened #654 "Tests hang on the CI"
On Win 2008, there was a process running after the tests completed. Subsequent runs failed to start because `git clean` failed.

All I could get is that the command line for that process is:
`"D:\df3ce1ac-22fd-4b89-a5ad-25c606034f91\MusicStore.exe"  --server.urls http://localhost:5014/  --server Microsoft.AspNetCore.Server.Kestrel`

The build script should kill any running music store and/or dotne

[2016-05-02 18:38] BrennanConroy commented on #654
Shouldn't we figure out the root cause of why it was still running?

[2016-05-02 18:39] victorhurdugaci commented on #654
We should but there's a chance that we cannot handle all cases (ex: the test runner crashes).

Here's a link about restarting the agent: https://youtrack.jetbrains.com/issue/TW-36298

[2016-05-04 00:54] JunTaoLuo commented on #650
Blocked on https://github.com/dotnet/cli/issues/2861

[2016-05-04 09:14] antonioapostoliu opened #655 "Error at running"
Error at running
Please help me

D:\msd2\MusicStore-dev\src\MusicStore.Standalone>dotnet run
Project MusicStore.Standalone (.NETCoreApp,Version=v1.0) will be compiled because expected outputs are missing
Compiling MusicStore.Standalone for .NETCoreApp,Version=v1.0
D:\msd2\MusicStore-dev\src\MusicStore.Standalone\project.json(16,15): warning DOTNET1015: The 'compile' option is deprecated. Use 'comp

[2016-05-04 10:36] antonioapostoliu commented on #655
I figure what missing...
change include with content and promote outside the paragrph...
I close it...

[2016-05-04 10:36] #655 closed

[2016-05-04 16:10] kichalla opened #656 "'dotnet run' does not work on MusicStore app"
Repro: do a `dotnet run` and this complains about unable to find `config.json` file

This happens in both release and dev branches. Seems like due to the recent project.json changes.

[2016-05-04 16:24] kichalla opened #657 "Add 'dotnet watch' tool to MusicStore"
Since MusicStore is a sample used by end users, having dotnet watch in it would be helpful to demonstrate. I ran into interesting issues with content root etc.
Note: Make sure to test that changing views would reflect the changes in browser

[2016-05-04 19:42] JunTaoLuo opened #658 "MusicStore failures on Nano"
The way we are determining whether we are running on Nano is out of date. We currently look for the product type defined by [Platform.cs#L10](https://github.com/aspnet/MusicStore/blob/dev/src/MusicStore/Platform.cs#L10) via calls to `GetProductInfo`. However, according to newer versions of `winnt.h` used by Nano TP5, there are some new product types:

[code]
For our code to work, we need to recogn

[2016-05-04 22:19] victorhurdugaci commented on #658
So, without this change, MusicStore doesn't work out of the box on Nano TP5 because it incorrectly determines that it's not running on Nano

[2016-05-05 00:15] muratg commented on #658
I'm OK getting this in RC2 as long as @Eilon is fine. Otherwise a dev branch check-in only is fine.

[2016-05-05 17:11] Eilon commented on #658
It's a MusicStore-only fix, so let's do in RC2.

[2016-05-05 17:51] JunTaoLuo commented on #649
@kichalla and I talked about this offline, seems like it was the right fix, closing for now.

[2016-05-05 17:51] #649 closed

[2016-05-05 18:04] sivagms commented on #622
@mnltejaswini

[2016-05-05 20:39] JunTaoLuo commented on #650
Won't fix for rc2 since dotnet/cli issue is moved to rtm.

[2016-05-05 20:41] #658 closed

[2016-05-05 20:56] Eilon commented on #476
Haven't seen any issue with this in quite a while.

[2016-05-05 20:56] #476 closed

[2016-05-05 21:28] JunTaoLuo commented on #627
Had to redisable these tests in https://github.com/aspnet/MusicStore/pull/659. Reopening this issue to track enabling of these tests after we have an updated cli.

[2016-05-05 21:36] Eilon commented on #618
Not planning on fixing Mono-specific issues.

[2016-05-05 21:36] #618 closed

[2016-05-05 21:37] Eilon commented on #656
@kichalla can you take a look at this for RC2? This is a basic scenario for running MusicStore.

[2016-05-05 21:40] Eilon commented on #631
Is this already done? There's MusicStore and MusicStore.Standalone:

* https://github.com/aspnet/MusicStore/blob/dev/src/MusicStore/project.json
* https://github.com/aspnet/MusicStore/blob/dev/src/MusicStore.Standalone/project.json

[2016-05-05 21:40] Eilon commented on #635
@anpete so we suspect it's a bug in MusicStore itself and not EF?

[2016-05-05 21:45] Eilon commented on #639
@anpete, a gift for you.

[2016-05-05 21:46] anpete commented on #635
@Eilon Correct. The query needs to use SingleOrDefault in case the cart item doesn't exist - It may have been deleted by another request, or could just be a spurious id. I've been meaning to send a PR for this.

[2016-05-05 21:47] anpete commented on #639
@Eilon you shouldn't have

[2016-05-05 21:52] Eilon commented on #639
I'll get you an ice cream 🍦

[2016-05-05 21:52] Eilon commented on #635
Great!

[2016-05-05 21:52] muratg commented on #631
Yes, this was done with https://github.com/aspnet/MusicStore/pull/645

[2016-05-05 21:52] #631 closed

[2016-05-06 17:01] anpete commented on #623
Fixed in fb4fadb0b10 - @Eilon ok to close?

[2016-05-06 17:05] Eilon commented on #623
Ah, of course, yes.

[2016-05-06 17:13] #623 closed

[2016-05-06 17:28] #656 closed

[2016-05-06 17:37] sivagms commented on #623
now we are able to get 114 req/sec (compared to < 1 req/sec before the fix)

[2016-05-06 18:59] sivagms commented on #622
shared the dump location in email

[2016-05-06 20:11] DavidObando commented on #622
Just a heads up: after opening the dump I was surprised to see there were almost 11 thousand threads there. Not sure why.

[2016-05-06 23:10] Eilon commented on #623
I'll take a 10,000% improvement any day of the week 😄

[2016-05-07 00:27] rynowak commented on #622
Any callstacks of those?

[2016-05-07 00:41] DavidObando commented on #622
Almost all of them have this:
[code]
Currently investigating.

[2016-05-07 01:26] DavidObando commented on #622
The output of `!mk` is a bit better:
[code]

[2016-05-07 01:39] DavidObando commented on #622
The threads appear to be waiting on [this lock](https://github.com/aspnet/logging/blob/master/src/Microsoft.Extensions.Logging.Console/ConsoleLogger.cs#L136).

[2016-05-07 01:49] DavidObando commented on #622
[code]
Shows we only have one active lock. It points to thread 6305.
[code]
Does anyone here speak CLR?

I'm curious to know if this shows up with servergc too, this dump is using workstationgc.
[code]

[2016-05-07 01:52] DavidObando commented on #622
@sivagms you told me the application wasn't processing requests when the dump was taken, correct? Can I assume it was just sitting there waiting for work?

[2016-05-07 05:48] sivagms commented on #622
no, all the requests were failing

[2016-05-07 06:19] rynowak commented on #622
It seems like we're doing a lot of work inside that lock.

If we remove the console logger does the issue go away? That seems likely, but I'd think we still want to fix this.

[2016-05-07 06:26] rynowak commented on #622
/cc @Eilon @DamianEdwards - if console logger is the problem do we care about this for RC2?

[2016-05-07 06:50] DamianEdwards commented on #622
It's on by default in our templates, we'll need to so something

[2016-05-09 19:29] kichalla commented on #622
Is the idea to enable Console/Debug logging only for development scenarios in the templates? (as they are for development only scenarios?)

[2016-05-09 19:30] Eilon commented on #622
We use ConsoleLogger in production for Azure streaming logs scenarios, no? Or don't we?

[2016-05-09 19:48] kichalla commented on #622
I didn't have any idea that Azure streaming logs work this way. Its seems like a bigger issue. (I was under the assumption that ConsoleLogger is for development scenarios as there is all this logic of having different colors etc. causing us to introduce lock)

[2016-05-09 20:13] DamianEdwards commented on #622
Perhaps we need some config options for the console logger to enable the sync-lock or the colors or both, then we can use the environment name to determine whether the colors and lock are enabled or not. I'm hesitant to suggest we attempt to make the console logger log asynchronously as that would shoot the complexity up dramatically and open up a big box of design decisions to make.

[2016-05-09 20:22] rynowak commented on #622
The locking has more to do with writing each log message along with it's scope/event-name/id information in one 'chunk' and not allowing them to interleave. Removing support for colors would make this simpler but wouldn't really fix the problem on its own.

This code was not written in a performance sensitive way - like most code we write - until we find evidence that it's important to do so. We s

[2016-05-09 20:33] DamianEdwards commented on #622
Agreed. That said, I have a sneaking feeling that any global lock in this code path will result in bad behavior in stress runs, no matter how much we optimize the logger.

[2016-05-09 20:40] rynowak commented on #622
https://github.com/dotnet/corefx/blob/master/src/System.Console/src/System/Console.cs#L143

:trollface: Console is always surrounded with a global lock - we can try to make it so that it's not the first bottleneck you hit, but eventually your server will hit a bottleneck. I think we're saying the same thing

[2016-05-09 20:43] DamianEdwards commented on #622
Ya. Here be dragons. We may need to step up our development of guidance and/or solutions for logging in Azure, etc. that don't require using the console logger so we can relegate to a dev-only scenario.

[2016-05-09 20:49] sivagms commented on #622
FYI, for the same load the memory issue doesn't show up with ServerGC. the process uses just about 150MB memory.

[2016-05-09 23:53] DavidObando commented on #635
#662

[2016-05-10 00:02] anpete commented on #635
Looks like @DavidObando beat me too it :smile:

[2016-05-10 23:16] mikeharder opened #663 "Replace "web" with "MusicStore" in launchSettings.json"
The `launchSettings.json` should be updated to match the `launchSettings.json` created by our templates.  Specifically, the following section:

[code]

should be replaced by:

[code]

[2016-05-10 23:21] mikeharder commented on #663
Note the environment variable `Hosting:Environment` is obsolete and has been replaced with `ASPNETCORE_ENVIRONMENT`.  This should be updated in all `launchSettings.json` files.

[2016-05-12 01:15] mikeharder opened #665 "Move "Microsoft.NETCore.Platforms" under "net451" in project.json"
Project.json currently has `Microsoft.NETCore.Platforms` under the global `dependencies`.  It should be moved under the `net451` framework, since I believe it's only required for `net451`, and it breaks `dotnet restore` if you convert to standalone and target a non-Windows RID like `debian.8-x64`:

[code]

[2016-05-12 01:31] mikeharder opened #666 "Header links are broken in Admin area"
**Repro Steps**
1. Browse to MusicStore
2. Login as admin
3. Click `admin` link in footer
4. Click header link like `Home`

**Expected**
1. Link target is `/`.

**Actual**
1. Link target is `/Admin/Home`, which redirects to `/Home/StatusCodePage` and displays the error `Item not found`.
2. Clicking the `Home` link again (when on the error page) works correctly.

[2016-05-12 03:43] Eilon commented on #665
Hmm is that the standard guidance that we give for where to locate this dependency? MusicStore should do whatever our recommendation is, though I admit I don't know what that is.

@anurse @davidfowl @JunTaoLuo ?

[2016-05-12 05:32] JunTaoLuo commented on #665
To summarize our offline discussion this afternoon, currently we have `Microsoft.NETCore.Platforms` under global `dependencies` in our repos. However, if it is causing trouble, it can be moved to `net451` TFM where we needed it to resolve rids. For `netcoreapp1.0`, the `Platforms` package is brought in transitively via `Microsoft.NETCore.App`. Note that this is a point in time problem since, IIRC,

[2016-05-12 06:13] davidfowl commented on #665
I don't understand why it's broken, it always required for all frameworks in general. It's included with `Microsoft.NETCore.App` and `NETStandard.Library`. It's required for any native dependencies. In RTM it'll just be a dependency of the https://github.com/aspnet/libuv-package/pull/6

[2016-05-12 06:26] JunTaoLuo commented on #665
Hmm that's true, both TFMs should be bringing in the same version of `NETCore.Platforms`. In fact, now I'm not sure why brining the `NETCore.Platforms` dependency under `net451` fixes the restore errors. Unless `NETCore.App` is brining in a different version of `NETCore.Platforms`? Need to look at the lock file more thoroughly.

[2016-05-17 01:55] mikeharder opened #669 "Cache of "topselling" items should be invalidated when an album is removed"
## Repro Steps
1. Launch MusicStore
2. Login as admin
3. Remove topselling album, such as `The Best Of The Men At Work`
4. Refresh homepage
## Expected

Removed album does not appear on homepage
## Actual

Removed album appears on homepage, but clicking it causes an `Item not found` error.

[2016-05-20 05:47] Eilon commented on #665
@JunTaoLuo I'm assigning to you to investigate because I want to make sure there isn't some more severe issue here. I don't *think* we want to move the location of the reference, so if it's not working somewhere for some reason, we should find out why and report that to the proper authorities.

[2016-05-20 05:51] Eilon commented on #630
Closing this because we haven't seen these issues in quite some time. These issues are often caused by temporary mismatches in versions. If you're seeing any new issues please log a new issue. Thanks!

[2016-05-20 05:51] #630 closed

[2016-05-20 17:18] #663 closed

[2016-05-20 17:44] mikeharder commented on #665
There's definitely a real issue here, since the current `project.json` breaks `dotnet restore` if you convert to standalone and target a non-Windows RID.  It might be a bug in CLI/CoreFX.  We should be able to create a minimal repro.

[2016-05-20 20:16] Eilon commented on #665
If we have a minimal repro please log a bug in CLI.

[2016-05-20 20:17] Eilon commented on #665
(Assuming that that's where the bug appears to be.)

[2016-05-21 21:22] hbrock commented on #615
I could write a sample using Dapper.

[2016-05-21 21:24] hbrock commented on #666
Is anyone working on this? If not I would like to create a fork and submit a pull request.

[2016-05-21 21:34] Eilon commented on #615
If folks have alternative versions of MusicStore that they want to make, we could certainly link to them from the readme of this repo.

[2016-05-22 21:57] #635 closed

[2016-05-23 05:16] John0King commented on #615
@hbrock  there is a link ?

[2016-05-23 13:11] hbrock commented on #615
@John0King
I said I could. I have not yet did it.

[2016-05-23 18:06] troydai opened #673 "Consistent failed test SmokeTests_X64.WindowsOS"
[code]

[2016-05-23 18:13] cesarbs commented on #673
cc @BrennanConroy @JunTaoLuo

[2016-05-23 18:48] cesarbs commented on #673
Re-enable tests when fixed.

[2016-05-23 19:19] Eilon commented on #666
Sorry, I forgot to mark this as `up-for-grabs`. If you submit a PR, we'll definitely have a look!

[2016-05-24 23:25] JunTaoLuo commented on #673
Failures seemed to have been caused by https://github.com/aspnet/KestrelHttpServer/issues/866

[2016-05-24 23:35] halter73 commented on #673
This should now be fixed.

[2016-05-25 01:10] Eilon commented on #673
So we can close this?

[2016-05-25 02:27] JunTaoLuo commented on #673
@Eilon, we still need to turn the tests back on and verify the fix.

[2016-05-25 18:15] JunTaoLuo commented on #673
re-enabled in https://github.com/aspnet/MusicStore/commit/149fbfa99a674e560712adf39efef45a009167a1

[2016-05-25 18:15] #673 closed

[2016-05-25 21:26] JunTaoLuo commented on #665
I can no longer reproduce this error and @mikeharder and I agree that there is nothing inside MusicStore that needs to be fixed. Closing.

[2016-05-25 21:26] #665 closed

[2016-05-25 22:01] madmunsterdaddy commented on #587
You know what... I don't even care about this one anymore. It seemed like a good idea at the time but images on a CDN or something is much more practical. So unless you guys think it's a good idea, I'm good :P

[2016-05-25 22:01] #587 closed

[2016-05-26 04:29] Eilon commented on #665
Thanks!

[2016-05-27 18:34] Eilon commented on #627
@JunTaoLuo perhaps we can verify this again today? We should have fairly recent CoreFX's already, and today we've taken an even newer one.

[2016-05-27 18:39] JunTaoLuo commented on #627
@Eilon already doing that. There seems to be another problem, I'm verifying whether that is an issue with CoreFX.

[2016-05-27 21:27] Eilon commented on #627
Thanks!

[2016-05-28 01:10] Rick-Anderson opened #678 "remove pw from source"
https://github.com/aspnet/MusicStore/blob/dev/src/MusicStore/config.json#L7
https://github.com/aspnet/MusicStore/blob/dev/src/MusicStore/Models/SampleData.cs#L102

@blowdart customers are copying this - should we move pw to secrets manager?

[2016-05-28 03:05] JunTaoLuo commented on #627
blocked on https://github.com/dotnet/corefx/issues/8941

[2016-05-28 13:38] stephentoub commented on #627
@JunTaoLuo, can you try https://github.com/dotnet/corefx/pull/8946?

[2016-05-28 19:15] blowdart commented on #678
Oh heck yes, along with code to show how it can come from environment variables.

[2016-05-28 19:18] BrennanConroy commented on #678
We'll have to set the password in the tests then

[2016-05-28 20:00] kichalla commented on #678
Just curious, this is just a sample...why is the password in code a concern? and where are users copying to?

We can use both environment & secrets manager. This needs to be done for the test project too(we do it for Nano smoke tests. On the CI musicstore node can use environment variables). Its a bit of inconvenience for anyone trying to build musicstore as they need to setup this up, but if usin

[2016-05-28 22:19] Rick-Anderson commented on #678
Customers look at our sample code, copy/paste to get their code working. They copy the code that sets the admin role/user because we don't have a [WSAT ](https://msdn.microsoft.com/en-us/library/ssa0wsyf.aspx) tool.

[2016-05-29 03:14] JunTaoLuo commented on #627
@stephentoub How do I test out your fix in the linked PR? Will you build a package for me to test?

[2016-05-29 10:20] WilliamWsyHK opened #679 "Cannot Resolve Dependency Using AspNet Core RC2"
From both Visual Studio and `dotnet run`

[code]

Edit: for more info to other people, this message is generated from `dev` branch.

[2016-05-30 13:36] stephentoub commented on #627
You can build System.Net.Http.dll from my branch and overwrite the one in your published directory.  If you don't want to build it yourself, I've emailed you a build you can use.

[2016-05-31 03:25] JunTaoLuo commented on #627
@stephentoub Thanks, I verified this has fixed the issue we are running into.

[2016-05-31 20:11] PatrickLang commented on #679
@glennc do you know if there's a branch that works with RC2?

I'm hitting the same issue:
[code]

`dotnet --version` shows:
[code]

[2016-05-31 20:34] friism commented on #679
This worked for me last week:

[code]

[code]

[code]

dotnet image dockerfile

[code]

[2016-05-31 20:44] kichalla commented on #679
For RC2, use the `release`(rc2) branch or the tag `1.0.0-rc2`

[2016-05-31 22:54] DavidObando commented on #622
Resolved with aspnet/Logging@00aed0a.

[2016-05-31 22:54] #622 closed

[2016-06-01 02:41] Rick-Anderson commented on #678
In this case the code is to temporarily create a user and role because we don't have a web site admin tool - so you're probably OK with your approach - but you should say that in the code. It's badly outdated tho, roles are now supported and you probably want to use a role not a claim.

[2016-06-01 06:27] PatrickLang commented on #679
thanks, release branch works

[2016-06-01 09:49] WilliamWsyHK commented on #679
Great! I also changed to `release` branch and no more errors prompt. :kissing:

[2016-06-01 11:03] WilliamWsyHK opened #680 "Cannot Log off in /Admin/StoreManager"
1. Login
2. Navigate to `/Admin/StoreManager`
3. Click Log off
4. You should be navigated to `/Home/StatusCodePage`, which reads _**Item not found**_

[2016-06-01 13:53] #679 closed

[2016-06-02 17:27] cartermp opened #681 "Consider explicit version numbers in release version"
The current `project.json` files in the release branch use a splat (`*`) string in all the package dependencies.  This causes restore errors because packages that aren't guaranteed to be compatible with RC2 are pulled down.

[2016-06-13 20:10] #627 closed

[2016-06-13 20:11] JunTaoLuo commented on #627
tests enabled after we received the fixes in https://github.com/dotnet/corefx/pull/9282

[2016-06-15 22:15] #650 closed

[2016-06-16 02:17] Challagolla commented on #679
All, i am facing the same problem in my project. Can someone suggest me what are the changes that i need to make> what is the meaning of changing to release branch ? is it a  change in the nuget.config file or in the project.json file? Please advise.

[2016-06-21 02:10] WilliamWsyHK commented on #679
`git checkout release`

[2016-06-24 21:57] mikeharder opened #689 "Make it easier to use in-memory store if SQL is not available"
Currently, MusicStore assumes that SQL is available when running on full Windows (it uses the in-memory store on non-Windows, Mono, and Nano Server).  This causes problems when running MusicStore on full Windows without SQL, since it hangs for many seconds before finally displaying a SQL error.  A common scenario is running MusicStore on a Windows Server container without SQL.

We should make one

[2016-06-29 16:25] Eilon commented on #681
@cartermp we actually already do this, but only in certain branches/tags.

For example, the `master` branch always points at the latest version that's on NuGet, so you'll see only `1.0.0` versions in https://github.com/aspnet/MusicStore/blob/master/src/MusicStore/project.json.

And then each release also has a Git tag, which you can go to, and the exact version numbers are burned in there as well:

[2016-06-29 16:25] #681 closed

[2016-06-29 16:27] Eilon commented on #549
@kichalla @victorhurdugaci is this bug still an issue? Seems to me that it isn't and we can close, right?

[2016-06-30 00:03] Eilon commented on #680
@kichalla assigning to you because I assigned PR https://github.com/aspnet/MusicStore/pull/675 to you to merge.

[2016-07-05 17:32] victorhurdugaci commented on #612
Unfortunately, this is not possible.The tests require the source code to deploy because we never save published apps anywhere. I think we should see MusicStore as `sample` rather than `src`. In that case, it makes sense to always have the source code.

[2016-07-05 17:32] #612 closed

[2016-07-18 16:03] DonSchenck opened #692 "Does not compile in Linux"
When running `dotnet build --framework netcoreapp1.0` in Linux, the following errors are thrown:

[code]

[2016-07-18 16:09] DonSchenck commented on #692
Just tested; same error when compiling on Windows when `--framework netcoreaapp1.0` is specified.

Apparently, the code to retrieve the underlying environment (Mono, Nano Server or Windows) does not work with netcoreapp1.0.

Perhaps switching to `System.Runtime.InteropServices.RuntimeInformation.OSDescription.ToString()` would be better?

I don't have access to Mono nor Nano Server; what does `Sys

[2016-07-18 17:48] BrennanConroy commented on #692
Well the fact that you're getting PlatformServices errors tells me you're using an outdated Musicstore. Update it and try again.

[2016-07-18 18:24] DonSchenck commented on #692
D'oh.

Thanks.

[2016-07-18 18:24] #692 closed

[2016-07-25 20:05] kichalla commented on #680
Fixed by 1bce0acfde5b9fe5e5e48b6311bdfb232cdbf444

[2016-07-25 20:05] #680 closed

[2016-07-25 20:05] kichalla commented on #666
Fixed by 1bce0acfde5b9fe5e5e48b6311bdfb232cdbf444

[2016-07-25 20:05] #666 closed

[2016-07-29 00:46] pranavkm opened #693 "Consider moving MusicStore application to samples"
Our build assumes things in the src directory is code to be packaged. It might be easier to move the application to a samples directory rather than tweak the build system to special case this repository.

[2016-07-29 18:01] Eilon commented on #693
Yar.

[2016-08-04 22:04] pranavkm commented on #693
@kichalla is working on some Hosting changes and said he'd be able to do this change once he's done with his verification.

[2016-08-08 23:28] #693 closed

[2016-08-19 23:01] pumaatlarge opened #698 "VS2015 incompatible problem"
Actually, I am using VS 2015 version 14.0.23107.0 D14REL
After opening the solution, is showed "This project is incompatible with the current Visual Sudio", what's wrong? Any special edition needed?

[2016-08-22 14:05] KostaVlev commented on #698
In order to open .NET Core project you need to install Update 3 for Visual Studio.

[https://www.microsoft.com/net/core#windows](.NET Core)

[2016-08-25 06:45] pumaatlarge commented on #698
After installing update 3, the incompatible problems solved, but it now showed errors on E2ETest.xproj, MusicStore.xproj, MusicStore.Test.xproj, and MusicStore.Standalone.xproj. It siad  " Microsoft.DotNet.targets"  and " Microsoft.DotNet.Prop" was not found.

[2016-08-30 09:08] owencyc opened #701 "I couldn't find MusicStore Tutorial on your website"
All the tutorials i can find are based on MVC5 even earlier.
I wish you to publish a newer version for us.Thinks!

[2016-09-26 15:20] pumaatlarge commented on #698
Everything is ok after reinstalling VS15 and patces

[2016-09-26 15:20] #698 closed

[2016-09-29 19:43] kichalla opened #707 "Re-enable failing IISExpress smoke tests"
Related to commit: https://github.com/aspnet/MusicStore/commit/7fe0ce7c51973720df28fb31eac9881da3bb61d5

[2016-09-30 17:10] Tratcher commented on #707
These can be re-enabled now

[2016-10-04 16:20] kichalla commented on #707
af5ec5d38237216607386fd0cec236f66a96e4fc

[2016-10-04 16:20] #707 closed

[2016-10-06 09:31] Jurabek opened #709 "Can I use it with ASP.NET Core using .NET Core not .NET Framework?"

[2016-10-06 09:32] #709 closed

[2016-10-06 11:00] JanSichula opened #710 "Please add PostgreSQL support"
May I kindly suggest that you add support for PostgreSQL. This way, this referential solution will be truly cross-platform and not dependent directly on MS SQL and indirectly on Windows. There are folks out there who are excited about ASP.NET Core and yet would like to avoid any lock-in into closed source proprietary databases.

[2016-10-07 09:46] xatabhk opened #712 "Can not find compilation library location for package 'microsoft.csharp'"
![reference_not_found](https://cloud.githubusercontent.com/assets/6814395/19185766/a28321a2-8cb5-11e6-9370-182923bdeb5c.png)
Here are the error messages:
[error.txt](https://github.com/aspnet/MusicStore/files/515757/error.txt)

[2016-10-13 16:58] madmunsterdaddy opened #714 "Remove from cart link doesn't work"
I can't get the remove from cart link to execute anything. What's missing?

[2016-10-17 22:51] pranavkm opened #715 "Clean up README.md"
The README page for MusicStore is pretty outdated and references things we no longer ship (Helios, DNX etc).

[2016-10-17 22:52] pranavkm commented on #715
@kichalla, is this accurate: From the README:

[2016-10-19 22:19] natemcmaster opened #716 "docker: data protection failures bring down entire app"
Running music store in docker brings down the entire app.

**Repro:**
dotnet publish -c release

[code]

On startup, the app issues this warning:

[code]

After that, subsequent requests that rely on data protection (such as session's cookie protection and antiforgery) will fail. App becomes unusable.

Examples:
<details>

[code]

</details>

cc @kichalla @pakrym

[2016-10-19 22:57] danroth27 commented on #716
@Eilon @muratg @glennc Did this used to work in 1.0?

[2016-10-19 23:00] pakrym commented on #716
DataProtection stores keys in HOME directory on linux by default so when container restarts keys are lost.

[2016-10-19 23:12] natemcmaster commented on #716
It looks like somehow the key dataprotection is looking for changes after the app starts:
[code]

Error messages are looking for a key named "`915ad8b0-11d7-4e1f-957b-e0f53fff1800`".
[code]

[2016-10-19 23:26] natemcmaster commented on #716
Figured it out. Something in the session and antiforgery cookie is tied directly to the key. When the server restarts and the key refreshes, antiforgery and session get a stale cookie and try to use a key that doesn't exist. When the key doesn't exist, the app crashes.

[2016-10-20 18:28] Eilon commented on #633
Mono is no longer supported so we removed the Heroku deploy button in this PR: https://github.com/aspnet/MusicStore/pull/708

[2016-10-20 18:28] #633 closed

[2016-10-20 19:02] Eilon commented on #574
Mono is no longer supported so we removed the Heroku deploy button in this PR: https://github.com/aspnet/MusicStore/pull/708

[2016-10-20 19:02] #574 closed

[2016-10-24 19:30] pranavkm opened #718 "Modify tests to consume the newest build of ANCM"
Related to https://github.com/aspnet/ServerTests/issues/46

Once aspnet/AspNetCoreModule#20 is done, we'll need to modify IISExpress tests to run using the most recent build of ANCM package from the feed.

[2016-11-01 13:44] eliassal opened #722 "admin password"
I managed to have the site up and running with docker. Can you please let me know what is the password for admin user, I saw in the tables a user with the email
Administrator@test.com
but can noit see what is the password

[2016-11-03 16:48] natemcmaster commented on #716
cc @Tratcher

[2016-11-11 22:13] jbagga opened #725 "Use NuGet package for aspnetcoremodule for versions 1.0.0 and 1.1.0"
@kichalla @Tratcher

[2016-11-11 22:15] Tratcher commented on #725
We'll do this as part of https://github.com/aspnet/MusicStore/issues/718

[2016-11-16 08:44] freerider7777 opened #728 "unable to start debugging."
I downloaded the project, opened in VS 2015 update 3. Music store and Musicstore.Standalone do not run - Unable to start debugging. (BTW 1.2 packages seem strange, no?)

[2016-11-23 19:54] #718 closed

[2016-11-23 19:54] #725 closed

[2016-11-24 04:47] vladoATL commented on #722
"DefaultAdminUsername": "Administrator@test.com",
  "DefaultAdminPassword": "YouShouldChangeThisPassword1!",

[2016-11-24 10:00] eliassal commented on #722
Thanks

[2016-11-25 07:30] omerv2 commented on #728
What is the exact error that you get?

[2016-11-25 08:04] freerider7777 commented on #728
Now it's ok (after your global.json change)
Now MusicStore starts ok, MusicStore.Standalone does not find config.json (Exception)

[2016-11-25 08:56] freerider7777 opened #729 "not using IDistributedCache"
Why do you use services.AddDistributedMemoryCache() if not using IDistributedCache?

[2016-11-27 03:45] Eilon commented on #729
Hi @freerider7777 , the session state feature requires an implementation of IDistributedCache. Session state is used to track the user's shopping cart id: https://github.com/aspnet/MusicStore/blob/dev/samples/MusicStore/Models/ShoppingCart.cs#L171

[2016-11-27 03:45] #729 closed

[2016-11-27 07:25] #722 closed

[2016-12-04 16:31] madmunsterdaddy commented on #714
Well you seem to have fixed this by adding the missing data-url attribute to the delete link. This removes the cart item, but does not show the confirmation message or remove the row. have to refresh the page to see the cart item has been removed.

[2016-12-04 16:57] madmunsterdaddy commented on #714
Ok, I got it. But I don't know why (as I'm just learning about ajax and jquery and all this). When you pass the view model back as JSON, you're doing this..

                        $('#cart-total').text(data.CartTotal);
                        $('#update-message').text(data.Message);
                        $('#cart-status').text(data.CartCount);

The issue I've found is that this is getting conv

[2016-12-08 22:15] glennc commented on #716
I am fine with the fact that in docker the keys are going to go away. But I thought that someone making a request to a site with a cookie encrypted with an invalid or unfindable key should not break the app. It just means they are not authenticated or whatever the thing is that is using the cookie. I.e. they get the same experience as the very first time they ever visited the site.

@kichalla @blo

[2016-12-08 22:18] blowdart commented on #716
No. If the antiforgery token is invalid it will throw an exception

[2016-12-08 22:23] glennc commented on #716
So it should be up to music store to handle that? What should an app do when that exception is thrown?

[2016-12-08 22:23] Tratcher commented on #716
Here: https://github.com/aspnet/Antiforgery/blob/ad90db343c437283d809dab12f89b51116a25151/src/Microsoft.AspNetCore.Antiforgery/Internal/DefaultAntiforgeryTokenSerializer.cs#L55
Note that does not match the dataprotection behavior we use in auth or session cookies. In those cases any failures are logged and we assume you have no identity/session.

[2016-12-08 22:27] Tratcher commented on #716
@natemcmaster what's the full stack trace?

[2016-12-08 22:30] natemcmaster commented on #716
I don't have it handy. Would have to re-reproduce.

[2016-12-14 18:20] Eilon commented on #710
See explanation here: https://github.com/aspnet/MusicStore/pull/730#issuecomment-267112052

[2016-12-14 18:20] #710 closed

[2016-12-20 21:53] Eilon commented on #653
No plans to change this in the Music Store test app.

[2016-12-20 21:53] #653 closed

[2016-12-20 21:53] Eilon commented on #615
No plans to change this in the Music Store test app. If you have a sample you'd like to link to, please send a PR with a change to the readme.md file. Thanks!

[2016-12-20 21:53] #615 closed

[2016-12-20 21:53] Eilon commented on #266
No plans to change this in the Music Store test app.

[2016-12-20 21:53] #266 closed

[2016-12-20 21:53] Eilon commented on #270
No plans to change this in the Music Store test app.

[2016-12-20 21:53] #270 closed

[2016-12-20 21:53] Eilon commented on #285
No plans to change this in the Music Store test app.

[2016-12-20 21:53] #285 closed

[2016-12-20 21:54] Eilon commented on #337
No plans to change this in the Music Store test app.

[2016-12-20 21:54] #337 closed

[2016-12-20 21:55] Eilon commented on #499
This is no longer an issue.

[2016-12-20 21:55] #499 closed

[2016-12-20 21:55] Eilon commented on #524
No plans to change this in the Music Store test app.

[2016-12-20 21:55] #524 closed

[2016-12-20 21:56] Eilon commented on #453
No plans to change this in the Music Store test app.

[2016-12-20 21:56] #453 closed

[2016-12-20 21:57] Eilon commented on #728
@kichalla have you seen any issues in MusicStore or MusicStore.Standalone?

[2016-12-22 00:52] kichalla commented on #728
Fixed with commit ecdc864e4f462712bc82d8f365cf9108092feb0b

[2016-12-22 00:52] #728 closed

[2017-01-04 13:22] xuchuanquan commented on #716
NU1001	The dependency Microsoft.Extensions.Configuration.CommandLine >= 1.2.0-* could not be resolved.  How do you solve this problem ？

[2017-01-07 17:48] sneh1 opened #733 "Unable to load solution in VS2015"
I get the following error when I click and open the MusicStore.sln. Please help me fix it.

MusicStore\test\E2ETests\E2ETests.xproj : error  : The imported project "C:\Program Files (x86)\MSBuild\Microsoft\VisualStudio\v14.0\DotNet\Microsoft.DotNet.targets" was not found. Confirm that the path in the <Import> declaration is correct, and that the file exists on disk.

[2017-01-17 14:23] easec opened #735 "Compiling errors"
Hi there! Get a lot of compiling errors when I tried these on Windows Server 2016 Datacenter with latest Docker and Docker-Compose. Running the server in nested virtualization.

![error](https://cloud.githubusercontent.com/assets/23214234/22023981/c6e5f0b6-dcc8-11e6-8c0b-b4e8cdc349a9.png)

Any suggestions?

[2017-01-30 11:13] jchannon opened #737 "Does not build on 1.0.0-rc4-004706 tooling"
HELP!

`dotnet build ` from root

[code]

Alternative idea
[code]

Doesn't seem that the tooling is using the version in global.json

[code]

[2017-01-31 18:40] reypila opened #738 "Does no building with new core version"
This example have a lot problems with compatibility , the problem is in project.json

[2017-02-08 16:53] natemcmaster commented on #737
Make sure you have 1.0.0-preview2-1-003180 installed. Otherwise, dotnet.exe lifts to the latest installed version. 1.0.0-rc4-004706 is not compatible with xproj. This will be resolved when #734 is merged.

[2017-02-08 16:53] #737 closed

[2017-02-09 00:59] natemcmaster opened #739 "Remove workaround for the nano-tests target"
At the time we ported to VS 2017, dotnet-test and xunit.runner.visualstudio didn't support filtering on traits, which we needed to run a subset of tests on Nano Server. The workaround was to use the dotnet-test-xunit runner instead. We should remove this since dotnet-test-xunit will likely go away in favor of dotnet-xunit or xunit.runner.visualstudio.

I haven't verified this, but I believe an upd

[2017-02-09 02:15] natemcmaster commented on #733
Closing as this project has been upgraded to VS 2017. You can get VS 2017 RC from https://visualstudio.com.

[2017-02-09 02:15] #733 closed

[2017-02-13 22:34] kichalla commented on #715
Cleaned up in commits : 2b68a00da344dc0aae215ff83ee13b24ca0a8834 and bf7eaa166c91ea88cc636e53069ace6b21df0fe8

[2017-02-13 22:34] #715 closed

[2017-02-15 09:07] ginoway commented on #738
had the same problems with compatibility. to resolve with[ .net core sdk rc4](https://github.com/dotnet/core/tree/master/release-notes)

and then Build succeeded.

hope it useful.

[2017-02-16 19:12] anpete opened #742 "Test query issue in StoreControllerTest"
Queries that used to return an entity with InMemory store now return null.

**Repro**
Test: https://github.com/aspnet/MusicStore/blob/dc60a2e9c5e89d4f4324bb82e5c1af17f7d4490b/test/MusicStore.Test/StoreControllerTest.cs#L108

The query:
https://github.com/aspnet/MusicStore/blob/dc60a2e9c5e89d4f4324bb82e5c1af17f7d4490b/samples/MusicStore/Controllers/StoreController.cs#L59-L63

[code]

When the .Incl

[2017-02-17 00:34] kichalla commented on #742
4039126e16fa13a464818d065aa4b381fb749e4f

[2017-02-17 00:34] #742 closed

[2017-02-23 17:35] pranavkm opened #748 "Add tests for Ngnix"
We have a bunch of testing for Kestrel + Ngnix in Entropy, but not in this repo. Since this is an important deployment scenario and a bug farm (quoting @Tratcher), we should add it to this repo.

[2017-03-01 13:33] i542873057 opened #750 "what is the test folder? And I how to use it?"
i am a Novice.   i see a test folder in the root directory.  what is it use to ?

[2017-03-03 00:12] natemcmaster opened #752 "Nano tests fail during deployment"
The tests haven't been running since December. Since then, something broke. Probably MSBuild conversion.

[code]

cc @kichalla

[2017-03-07 00:06] natemcmaster commented on #752
cc @dougbu

[2017-03-09 18:38] kichalla commented on #752
This has been fixed.

[2017-03-09 18:38] #752 closed

[2017-03-10 23:29] dotnetshadow opened #756 "Clear anonymous shopping cart after period of time"
At the moment shopping cart items are kept in the database indefinitely.
Especially in the case of anonymous shopping carts when would these items ever clear if the shopping cart is never migrated?

A clear all method for shopping cart items over a set period of time could be implemented?

[2017-03-14 16:57] pranavkm opened #757 "Use the runtime store in MusicStore at the end of the build chain"
Would be important to verify scenarios like (https://github.com/aspnet/Mvc/issues/5690) work E2E when Mvc is referenced via a metapackage.

[2017-03-14 22:11] pranavkm commented on #750
@i542873057 the test folder has some of the tests we use to verify AspNetCore's end-to-end scenarios using the MusicStore sample. I wouldn't recommend not using this repository for learning Asp.Net since it has some atypical code designed around how we build and test our repositories. https://docs.microsoft.com/en-us/aspnet/core/ has great getting started guides.

[2017-03-14 22:11] #750 closed

[2017-03-17 19:39] hazemusa opened #760 "Error RuntimeIdentifier must be set for .NETFramework executables."
I am trying to use the MusicStore to learn. I have VS2017 RC and when I build, I get:

Error RuntimeIdentifier must be set for .NETFramework executables.
Consider RuntimeIdentifier=win7-x86 or RuntimeIdentifier=win7-x64. MusicStore C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\MSBuild\Sdks\Microsoft.NET.Sdk\build\Microsoft.NET.RuntimeIdentifierInference.targets

Here is my .targ

[2017-03-17 21:16] kichalla opened #761 "Skip standalone tests temporarily"
Following is the error that I see when running standalone tests on Ubuntu 16.04 LTS.
![image](https://cloud.githubusercontent.com/assets/6559784/24063265/3868b666-0b1c-11e7-961b-ec71335ff165.png)

https://github.com/aspnet/MusicStore/commit/fcb4b6ddbcc0b7a50cd9292bfff14e0b2e354810

@pranavkm

[2017-03-17 21:59] pranavkm commented on #761
Didn't it fail the same way on OSX too?

[2017-03-17 22:08] pranavkm commented on #760
The issue you were running in to was fixed as part of VS RTM. Go ahead and grab it from https://www.visualstudio.com/downloads/. I'd also recommend using the tutorials on https://docs.microsoft.com/en-us/aspnet/core/. MusicStore is primarily meant for E2E testing the AspNetCore stack so it does things that are atypical of most applications.

[2017-03-17 22:08] #760 closed

[2017-03-17 22:26] JunTaoLuo commented on #761
Yup, these failures started to happen on *nix once we switched to 2.0 CLI it seems.

[2017-03-18 05:43] hazemusa commented on #760
Thank you!

It is working now based on your suggestion

[2017-03-22 04:34] pranavkm opened #763 "Investigate System.Security.Claims references required to make compilation work"
https://github.com/aspnet/MusicStore/commit/90acbd1e62e690a44196db43065843811839c47c

[2017-03-22 13:57] pranavkm commented on #763
Also `System.Globalization.Extensions` -  https://github.com/aspnet/MusicStore/commit/51e84a623c658e27e6e1b0717749981cb2ad8bac

[2017-03-25 20:51] jbagga opened #767 "SmokeTests flaky on CI"
[SmokeTestsOnNanoServerUsingSharedRuntime.Test](http://aspnetci/viewLog.html?buildId=192835&tab=buildResultsDiv&buildTypeId=XPlat_Windows_WinNanoServer_MusicStore) are flaky.

For applicationType Portable the exception is `One or more errors occurred. (Access to the path '\\projectk-nano\musicstore\dotnet\dotnet.exe' is denied.) (The following constructor parameters did not have matching fixture d

[2017-03-27 19:27] kichalla commented on #767
This is fixed. This started happening after a build was killed leaving resources (port) not being cleaned resulting in later test runs to fail when trying to listen on same port.

[2017-03-27 19:27] #767 closed

[2017-03-29 23:37] kichalla opened #768 "Fix EF warnings"
When E2E tests are run, there are bunch of warnings related to EF. Fix them:

[code]

[2017-04-04 08:48] SCORPIO12 opened #771 "shared folder"
hello.. when i tried to do this i dont have shared folder in views folder what should i do ?

[2017-04-05 17:54] JunTaoLuo commented on #771
You should be cloning from the latest dev branch and the Shared folder should contain the files at https://github.com/aspnet/MusicStore/tree/794508fbf26b716eceae265fe650729719b0d211/samples/MusicStore/Views/Shared.

[2017-04-06 16:10] mylesbkeating1993 opened #772 "Authentication links at the end in the ReadMe are broken"
The two links at the bottom of the ReadMe about authentication 404

[2017-04-12 16:23] devinvisible opened #776 "Powershell doesn't exist in the Dockerfile base image"
The SHELL instruction specifies powershell but the base image doesn't have it available.
(Solution 1) Perhaps the intention was to use the `-nanoserver` flavor?

In fact, I wonder if powershell is really necessary here. It's used for one command (`RUN New-Item -Path \MusicStore\samples\MusicStore -Type Directory`) which isn't even actually necessary - the WORKDIR and ADD instructions both create d

[2017-04-12 16:24] devinvisible opened #777 "Dockerfile.windows uses a deprecated base image"
From https://blogs.msdn.microsoft.com/dotnet/2017/03/07/announcing-net-core-tools-1-0/#docker

[2017-04-12 16:53] Eilon commented on #757
@pranavkm I assume you mean Microsoft.AspNetCore.All? https://dotnet.myget.org/feed/aspnetcore-dev/package/nuget/Microsoft.AspNetCore.All

[2017-04-12 16:54] Eilon commented on #768
@ajcvickers - can someone on your team take a look at this?

[2017-04-12 16:54] #771 closed

[2017-04-12 16:55] Eilon commented on #738
The project seems to be building fine on Windows/Mac/Linux. Please check that you have the latest 'dev' branch.

[2017-04-12 16:55] #738 closed

[2017-04-12 16:56] #549 closed

[2017-04-14 16:35] kichalla commented on #761
https://github.com/dotnet/cli/issues/6286

[2017-04-14 19:19] JunTaoLuo commented on #761
Is it possible to do chmod +x before trying to start the app?

[2017-04-17 19:53] pranavkm opened #779 "Patch: [Flaky test]"
SmokeTests_X64.WindowsOS(serverType: IISExpress, runtimeFlavor: CoreC…plicationType: Portable, applicationBaseUrl: "http://localhost:5018/")

[code]

[2017-04-17 19:53] pranavkm commented on #779
cc @Eilon. @kichalla any guesses why this might be misbehaving?

[2017-04-17 20:53] Eilon commented on #779
@kichalla - can you take a look?

[2017-04-17 22:31] Eilon commented on #763
@pranavkm says this should be fine now, so we should be able to remove the explicit package references.

[2017-04-19 21:26] Eilon commented on #654
Super old, so closing this.

[2017-04-19 21:26] #654 closed

[2017-04-20 17:25] #763 closed

[2017-04-21 17:14] kichalla commented on #761
e606844509b412d72c6dbd40b1b0a4a73754943a

[2017-04-21 17:14] #761 closed

[2017-04-25 22:18] Eilon commented on #768
@ajcvickers anything to do here for preview1? Or should we move to preview2?

[2017-04-25 22:41] ajcvickers commented on #768
@Eilon Sent a PR for this 12 days ago. Hasn't been looked at yet. There is no functional change, just a change to be more explicit in configuration so that the warning that configuration is not explicit is not shown. The app will function the same way with or without the warning. So, as far as I am aware, there is no need to do this for any particular release, but also no reason not to do it.

[2017-04-26 01:56] pranavkm opened #784 "[Flaky test]: SmokeTestsOnNanoServerUsingStandaloneRuntime.Test(serverType: WebListener, portToListen: 5000, applicationType: Standalone)"
[code]

[2017-04-26 17:15] Eilon commented on #768
Ah ok let's just fix in 'dev' then, now that we've branched.

[2017-04-26 17:31] ajcvickers commented on #768
@Eilon What's the process for getting a review on the PR? Does anybody _own_ MusicStore?

[2017-04-26 17:42] Eilon commented on #768
@kichalla signed off on the PR yesterday. He is Mr. Music Store.

[2017-04-26 17:46] ajcvickers commented on #768
@Eilon Oops. Sorry. Missed that he signed off on it. Thanks!

[2017-05-02 23:57] Eilon commented on #779
Ping? Anything we can/need to do for Preview1?

[2017-05-03 00:02] kichalla commented on #779
The tests in preview1 branch of MusicStore have been running fairly stable, so I don't think we need to do something here. We could revisit if we see a similar stack trace in future.

[2017-05-03 00:02] kichalla commented on #779
http://aspnetci/viewType.html?buildTypeId=Lite_MusicStoreTest&branch_XPlat=2.0.0-preview1&tab=buildTypeStatusDiv

[2017-05-03 16:12] pranavkm commented on #779
This was from the patch branch. If we made recent changes to stabilize this, we should port this over to the patch branches.

[2017-05-03 16:22] Eilon commented on #779
Oh patch.. well, I'll park the bug in preview2, but per @pranavkm 's comments, if there's something worth porting to the patch branches we should look at that.

[2017-05-11 12:40] QuanHuynhM opened #791 "Start project"
[code]

[2017-05-11 21:19] #402 closed

[2017-05-11 21:19] #517 closed

[2017-05-11 21:19] #523 closed

[2017-05-11 21:19] #536 closed

[2017-05-11 21:19] #551 closed

[2017-05-11 21:19] #657 closed

[2017-05-11 21:20] Eilon commented on #791
@natemcmaster @kichalla - any ideas on this?

[2017-05-11 21:22] Eilon commented on #772
Thanks, fixed them in https://github.com/aspnet/MusicStore/commit/ae02eb436a53534555ca11a9fc0c6bacf42f8c7a.

[2017-05-11 21:22] #772 closed

[2017-05-11 21:23] natemcmaster commented on #791
@QuanHuynhM what version of Visual Studio are you using?

[2017-05-11 23:05] QuanHuynhM commented on #791
@natemcmaster I use visual studio 2017! :). And i see packages is incompetible

[2017-05-11 23:18] Eilon commented on #791
You might need to get VS2017 Update 3 Preview 1, which was just released: https://www.visualstudio.com/vs/preview/?utm_source=VSIDE-15-3&utm_medium=blogpost&utm_campaign=build2017

[2017-05-12 03:37] QuanHuynhM commented on #791
Now I use version 15.2(26430.4) Release. But VS 2017 doesn't notification for me to update @Eilon

[2017-05-12 16:45] Eilon commented on #791
@QuanHuynhM this is a preview release, so I'm not sure if you'll get an automatic notification for it. You'll need to download it manually.

[2017-05-24 01:05] #768 closed

[2017-05-29 06:55] takekazuomi opened #794 "Error docker-compose build"
"Docker-compose build" fails.

## Reproduction procedure
[code]

## Problem
1.  Dockerfile.windows use old image.  https://github.com/aspnet/MusicStore/issues/777
2.  Dockerfile.windows use dotnet sdk 1.1 but Music Store app use 2.0.

[2017-05-31 14:43] kichalla opened #796 "Unskip NanoServer's IIS test"

[2017-05-31 14:48] kichalla commented on #796
249c39e803970b1ed058e26655391840f147c55f

[2017-06-05 19:38] DamianEdwards commented on #639
ping @anpete @ajcvickers

[2017-06-06 17:26] Eilon commented on #712
Closing because we believe this issue has been fixed.

[2017-06-06 17:26] #712 closed

[2017-06-06 17:26] Eilon commented on #791
Closing because there is not enough information to reproduce this problem.

[2017-06-06 17:26] #791 closed

[2017-06-09 21:42] mikeharder opened #797 "Re-enable TreatWarningsAsErrors"
TreatWarningsAsErrors was temporarily disabled to prevent NuGet warnings from breaking the build.  It should be re-enabled once the NuGet warnings are fixed.

[2017-06-14 19:16] mikeharder commented on #797
This is dependent on ingesting a new version of `Microsoft.ApplicationInsights`.  Here's the one remaining warning:

[code]

[2017-06-15 21:20] johntallon opened #799 "Build Error on the Latest"
Hi,

I forked and trying to build and getting a build error:

'WebListenerOptions' does not contain a definition for 'Listener' and no extension method 'Listener' accepting a first argument of type 'WebListenerOptions' could be found (are you missing a using directive or an assembly reference?) [...\Sample Music Store\src\MusicStore\MusicStore.csproj]

Can package am I missing?

[2017-06-19 21:46] svick opened #800 "Smoke test fails on machine with cs-CZ culture"
When I run an E2E smoke test on my Windows machine with cs-CZ culture, the test fails.

Specifically, the error is (truncated):

Test FullName:	E2ETests.SmokeTests_X64.WindowsOS (c54ac54dac7f1e92fff5efff88317a1ccbd90d2e)
Test Source:	 : line 0
Test Outcome:	Failed
Test Duration:	0:00:32,487

at E2ETests.Validator.<CreateAlbum>d__31.MoveNext() in E:\Users\Svick\git\aspnet-MusicStore\test\MusicStore

[2017-06-20 00:12] svick opened #802 "Smoke test fails to login with Google"
When I run an E2E smoke test on my machine, the test fails when trying to login with Google.

Specifically, the failure is (truncated):

Test FullName:	E2ETests.SmokeTests_X64.WindowsOS (c54ac54dac7f1e92fff5efff88317a1ccbd90d2e)
Test Source:	 : line 0
Test Outcome:	Failed
Test Duration:	0:02:00,797

at E2ETests.Validator.<LoginWithGoogle>d__1.MoveNext() in E:\Users\Svick\git\aspnet-MusicStore\test

[2017-06-20 01:12] pranavkm opened #804 "Re-enable tests disabled by cookie path changes"
External issue: https://github.com/dotnet/corefx/issues/18013 & https://github.com/dotnet/corefx/issues/21250

[2017-06-20 01:13] pranavkm commented on #804
Changes to revert https://github.com/aspnet/MusicStore/pull/803/commits/06673e081add22d7bb2dcc2349334cf297c28da1

[2017-06-20 18:20] Eilon commented on #804
@javiercn - is this something we can do a workaround for in 2.0.0?

[2017-06-20 23:22] javiercn commented on #804
@Eilon I'm looking into it. I discussed with @Tratcher and we are trying to workaround HttpClient limitations on the test itself. If i'm not able to do so, I will workaround it by configuring the path on the cookie dynamically based on the presence of a header and I will make HttpClient in that test send that header.

Essentially so that F5 works like in a real world scenario, and the tests work a

[2017-06-28 01:30] #804 closed

[2017-06-28 01:51] mikeharder opened #808 "Re-enable TreatWarningsAsErrors"
TreatWarningsAsErrors was temporarily disabled to prevent NuGet warnings from breaking the build. It should be re-enabled once the NuGet warnings are fixed.

Disabled: https://github.com/aspnet/MusicStore/pull/809
Re-enabled: https://github.com/aspnet/MusicStore/pull/813

[2017-06-29 02:59] kichalla commented on #802
fc56105d833198421fc16fb1d9e0f13eacffcddb

[2017-06-29 02:59] #802 closed

[2017-06-29 22:11] Rick-Anderson opened #810 "Update readme"
Need to update readme for ASP.NET Core 2.0 instructions

[2017-06-30 23:23] kichalla commented on #796
These tests have been fixed.

[2017-06-30 23:23] #796 closed

[2017-06-30 23:53] natemcmaster commented on #716
We've mitigated this some in 2.0.0 by adding warnings in the logger if running Docker and the key store is a folder that would be deleted when the container is removed.

https://github.com/aspnet/DataProtection/pull/244

[2017-06-30 23:53] #716 closed

[2017-07-03 15:27] kichalla commented on #779
This test has been running stably in 'dev' branch for a while now. We have enough logging to diagnose the issue if it were to break the next time. So I am closing this issue for now.

[2017-07-03 15:27] #779 closed

[2017-07-03 18:22] natemcmaster commented on #735
Compiling this repo in Docker isn't supported. We've decided to remove the docker files. See #812.

[2017-07-03 18:23] natemcmaster commented on #776
We've decided to remove the Dockerfiles from this repo as building MusicStore in Docker is not supported. See #812.

[2017-07-03 18:23] natemcmaster commented on #794
Closing as we have removed dockerfiles from this repo. See #812 for more details.

[2017-07-03 18:23] natemcmaster commented on #777
Closing as we have removed dockerfiles from this repo. See #812 for more details.

[2017-07-03 18:24] #735 closed

[2017-07-03 18:24] #776 closed

[2017-07-03 18:24] #777 closed

[2017-07-03 18:24] #794 closed

[2017-07-03 18:28] natemcmaster commented on #799
@johntallon most likely, you need to pull the latest changes from the dev branch into your fork and try again. WebListenerOptions is an old API that does not exist anymore.

See https://github.com/aspnet/MusicStore/commit/cd5a789b2b1ae6ad5fff04b5b518cbcb7314a6e6.

[2017-07-03 18:28] #799 closed

[2017-07-03 18:30] natemcmaster commented on #810
Updated our README in #812 to remove version-specific instructions..

[2017-07-03 18:30] #810 closed

[2017-07-03 18:31] natemcmaster commented on #701
Updated tutorials and docs can be found here: https://docs.asp.net.

[2017-07-03 18:31] #701 closed

[2017-07-03 18:33] natemcmaster commented on #714
This was resolved in https://github.com/aspnet/MusicStore/pull/762.

[2017-07-03 18:33] #714 closed

[2017-07-03 23:25] #808 closed

[2017-07-04 00:52] #800 closed

[2017-07-05 20:38] Eilon commented on #639
Moving to 2.1.0.

[2017-07-06 13:11] kichalla commented on #757
We now have tests in CI using the runtime store.

[2017-07-06 13:11] #757 closed

[2017-07-06 20:32] kichalla commented on #784
This test has been running stable for a while now. We have enough logging already. We can revisit later if it fails.

[2017-07-06 20:32] #784 closed

[2017-08-10 00:18] JunTaoLuo opened #820 "Install runtime store via Coherence-Signed artifacts instead of Build.RS package"
We no longer produce this package and will need to either rely on build artifacts or azure blob storage to install the correct runtime stores.

[2017-10-02 18:32] natemcmaster opened #825 "Flaky tests: SmokeTests_X64 and NtlmAuthenticationTests"
The following tests are failing on CI:

NtlmAuthenticationTests.NtlmAuthenticationTest_IISExpress_CLR
NtlmAuthenticationTests.NtlmAuthenticationTest_IISExpress_CoreCLR_Portable
NtlmAuthenticationTests.NtlmAuthenticationTest_IISExpress_CoreCLR_Standalone
SmokeTests_X64.SmokeTests_X64_IISExpress_Clr
SmokeTests_X64.SmokeTests_X64_IISExpress_CoreClr_Portable
SmokeTests_X64.SmokeTests_X64_IISExpress_Co

[2017-10-02 23:54] Eilon commented on #825
@pranavkm do you have time to poke around these tests?

[2017-10-03 16:43] natemcmaster commented on #825
@jkotalik thinks this might be a result of required schema changes in the new ANCM.

[2017-10-03 16:44] jkotalik commented on #825
It was from the ANCM schema change here: https://github.com/aspnet/AspNetCoreModule/commit/509ddc6ceda29f3318f3df89e5c6872e8e231959. I'll confirm that all CI machines have the schema change.

[2017-10-03 16:44] natemcmaster commented on #825
So, to make this work on a non-CI box, what does a dev need to change?

[2017-10-03 16:48] jkotalik commented on #825
This schema change will eventually be bundled in the Server Hosting Bundle, so customers will not need to change anything. For us, you pretty much need to update the aspnetcore_schema.xml with this change: https://github.com/aspnet/AspNetCoreModule/commit/509ddc6ceda29f3318f3df89e5c6872e8e231959 in three places: IIS Express 32 bit, 64 bit, and full IIS. This is the script I used to update the sche

[2017-10-03 18:15] jkotalik commented on #825
I have already updated the schemas on all the CI machines. I have also added a fix that avoids AV if the schema change isn't there https://github.com/aspnet/AspNetCoreModule/pull/177.

[2017-10-03 18:21] pranavkm commented on #825
Feel free to close this if you think this is enough of a resolution for now.

[2017-10-04 00:15] jkotalik commented on #825
I think this is good, I'll reopen if there are more issues.

[2017-10-04 00:15] #825 closed

[2017-10-18 05:17] BUBAIMITRA opened #827 "Error in directory.build.target file(Visual studio 2017 Asp.Net Core 1.1)"
Hello,
        I try to run this  project on visual studio 2017 platform but  it is not running.When I build or rebuild that project I found some error directory.build.target file.

![image](https://user-images.githubusercontent.com/32890969/31701993-a5c6d6c4-b3f1-11e7-92e8-7a47b8970f27.png)
thank you

[2017-10-18 16:38] pranavkm commented on #827
@BUBAIMITRA you'll need to run `.\build[cmd|sh] restore` from the command line before launching it in VS.

@jkotalik  could you add a build from source section to this repo's README?

[2017-10-18 16:44] jkotalik commented on #827
@pranavkm I'm holding off on the new build instructions for each repo as it may change soon. I can make an exception for this repo though.

[2017-10-18 16:58] pranavkm commented on #827
Nevermind then. I thought you missed out on this repo. @BUBAIMITRA https://github.com/aspnet/Home/wiki/Building-from-source has more detailed instructions on building repositories from source. Feel free to reopen this issue if following these instructions do not resolve your issue.

[2017-10-18 16:58] #827 closed

[2017-10-18 17:00] BUBAIMITRA commented on #827
Hi pranavKM,
                    Actually I am new in asp.net core.So, can you show me the screen shot, how to build that project.So that I can run it on my own Laptop.

Thank you,
Bubai Mitra

[2017-10-18 17:08] BUBAIMITRA commented on #827
Hello Sir,
             Can you please show me from where I can run .\build[cmd|sh] restore from the command line  this command.
This is new thing to me

[2017-10-18 17:15] BUBAIMITRA commented on #827
Hello,
You are pointing to this Command line Prompt.
![image](https://user-images.githubusercontent.com/32890969/31732421-19268542-b456-11e7-8f64-df3cc700efbe.png)

[2017-10-18 17:19] pranavkm commented on #827
There's a `build.cmd` in the root of the repository. You'll need to run that.

That said, this particular repository is primarily purposed for testing Asp.Net Core's components and isn't necessarily a very good sample to learn from in particular if you're new to the platform. I'd encourage you to peruse our docs - https://docs.microsoft.com/en-us/aspnet/core/ - which are more suited for learning t

[2017-11-13 18:52] jkotalik opened #830 "Tests failing on CI for MusicStore"
[code]

Issues with publishing with desktop applications. Currently investigating.

[2017-11-16 19:54] #830 closed

[2017-12-28 17:11] pranavkm opened #835 "Replace Microsoft.AspNetCore.Mvc.Razor.ViewCompilation with Razor.Design"
We use this repo as a way to test E2E scenarios with build \ publish-time compilation. This needs to be updated to use the new package.

[2017-12-28 17:16] pranavkm opened #836 "Add a functional test to verify that build-time compiled views play with DeveloperExceptionPage"
We have a test gap for the scenario detailed in https://github.com/aspnet/Razor/issues/1757 - where we do not cover compiled views + runtime exception + DeveloperExceptionPage for a published application.

[2017-12-28 17:35] mkArtakMSFT commented on #836
Thanks @pranavkm. Assigning back to you, so you can fix it.

[2017-12-28 17:43] mkArtakMSFT commented on #835
Thanks @pranavkm. @ajaybhargavb, can you please handle this?

[2018-02-16 21:13] #835 closed

[2018-02-16 21:13] #836 closed

[2018-03-30 03:57] jkotalik opened #843 "Add In-process ANCM tests/ Re-enable ANCM out of process tests."

[2018-04-16 22:07] pranavkm opened #846 "MusicStore tests are broken due to changes in Razor Sdk"
The change - https://github.com/aspnet/Razor/commit/95835d6c37c108ae0788f49ccc0d17f3ba20586e - makes the Microsoft.AspNetCore.Mvc.Razor.Extensions package incompatible with the Razor Sdk in the CLI. We need to reference the package that is produced in our builds to make it compatible and fix test failures:

Sample failure:

[code]

[2018-04-19 18:13] #846 closed

[2018-04-27 22:51] ryanbrandenburg opened #847 "Broken tests: DotnetRunTests_X64_Kestrel_CoreClr et al"
This test [fails](http://aspnetci/viewLog.html?buildId=457039&buildTypeId=Releases_21Public_Win2012) with the following error in 2.1 branches:
[code]

[2018-05-01 18:05] ryanbrandenburg commented on #847
@muratg can we get this for RTM? Our release/2.1 branch tests are failing 100% of the time.

[2018-05-01 21:50] #847 closed

[2018-05-02 20:01] ryanbrandenburg opened #848 "Flaky test: SmokeTests_X64_IISExpress_CoreClr_Portable"
This test [fails](http://aspnetci/viewLog.html?buildId=459908&buildTypeId=Lite_MusicStoreTest) occasionally with the following error:
[code]

[2018-06-04 23:52] ryanbrandenburg commented on #848
This error (or a similarly non-specific error) also affects [PublishAndRun_Test](http://aspnetci/viewLog.html?buildId=480731&tab=buildResultsDiv&buildTypeId=Lite_MusicStoreTest#testNameId4097536007154953380).

[2018-07-24 21:03] ryanbrandenburg opened #861 "Flaky test: PublishAndRun_Test"
This test [fails](http://aspnetci/viewLog.html?buildId=513796&buildTypeId=Lite_MusicStoreTest) occasionally with the following error:
[code]

[2018-07-24 21:03] ryanbrandenburg commented on #848
NtlmAuthenticationTest [failed again](http://aspnetci/viewLog.html?buildId=513796&buildTypeId=Lite_MusicStoreTest).

[2018-07-24 21:03] ryanbrandenburg commented on #861
PublishAndRun_Test [failed again](http://aspnetci/viewLog.html?buildId=513796&buildTypeId=Lite_MusicStoreTest).

[2018-07-24 21:05] ryanbrandenburg commented on #861
This is the same basic problem as aspnet/EntityFrameworkCore#12706.

[2018-07-24 23:30] ryanbrandenburg commented on #861
PublishAndRun_Test [failed again](http://aspnetci/viewLog.html?buildId=513798&buildTypeId=XPlat_Windows_Win10Universe).

[2018-07-24 23:30] ryanbrandenburg commented on #848
Smoke_Tests [failed again](http://aspnetci/viewLog.html?buildId=513798&buildTypeId=XPlat_Windows_Win10Universe).

[2018-07-24 23:35] ryanbrandenburg commented on #848
Smoke_Tests [failed again](http://aspnetci/viewLog.html?buildId=513800&buildTypeId=XPlat_Windows_Win7_Universe).

[2018-07-24 23:35] ryanbrandenburg commented on #861
OpenIdConnectTestSuite [failed again](http://aspnetci/viewLog.html?buildId=513800&buildTypeId=XPlat_Windows_Win7_Universe).

[2018-07-24 23:41] ryanbrandenburg commented on #861
NtlmAuthenticationTest [failed again](http://aspnetci/viewLog.html?buildId=513794&buildTypeId=XPlat_Windows_Win8_Universe).

[2018-07-24 23:41] ryanbrandenburg commented on #848
OpenIdConnectTestSuite [failed again](http://aspnetci/viewLog.html?buildId=513794&buildTypeId=XPlat_Windows_Win8_Universe).

[2018-07-27 07:01] ryanbrandenburg commented on #861
PublishAndRun_Test [failed again](http://aspnetci/viewLog.html?buildId=516957&buildTypeId=Releases_22xPublic_Win2012).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-27 07:01] ryanbrandenburg commented on #848
Smoke_Tests [failed again](http://aspnetci/viewLog.html?buildId=516957&buildTypeId=Releases_22xPublic_Win2012).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-27 13:02] ryanbrandenburg commented on #861
PublishAndRun_Test [failed again](http://aspnetci/viewLog.html?buildId=517017&buildTypeId=Releases_22xPublic_Win2012).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-27 13:02] ryanbrandenburg commented on #848
Smoke_Tests [failed again](http://aspnetci/viewLog.html?buildId=517017&buildTypeId=Releases_22xPublic_Win2012).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-27 16:04] jkotalik commented on #861
I can handle the IIS test failures.

[2018-07-27 22:00] natemcmaster commented on #861
This is more than just a flaky tests. It fails consistently.

[code]

This looks like more fallout from https://github.com/dotnet/corefx/issues/30720

cc @smitpatel any idea if this has flowed into a corefx build yet?

[2018-07-27 22:02] jkotalik commented on #861
I think the rest of tests are fine now based on the latest test run. Only inproc tests are failing.

[2018-07-27 22:03] natemcmaster commented on #861
I see. I'm seeing a bunch of failures on VSTS too, btw. https://dotnet.visualstudio.com/public/_build/results?buildId=8453&view=ms.vss-test-web.test-result-details

[2018-07-27 22:33] smitpatel commented on #861
My preliminary testing shows that the fix is available in SqlClient package version 4.6.0-preview1-26725-04

Let's see result of https://github.com/aspnet/EntityFrameworkCore/pull/12829

[2018-07-27 23:05] ryanbrandenburg commented on #861
PublishAndRun_Test [failed again](http://aspnetci/viewLog.html?buildId=517196&buildTypeId=Releases_22xPublic_Win2012).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-27 23:05] ryanbrandenburg commented on #848
Smoke_Tests [failed again](http://aspnetci/viewLog.html?buildId=517196&buildTypeId=Releases_22xPublic_Win2012).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-28 11:00] ryanbrandenburg commented on #861
PublishAndRun_Test [failed again](http://aspnetci/viewLog.html?buildId=517878&buildTypeId=XPlat_Windows_Win7_Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-28 11:00] ryanbrandenburg commented on #848
Smoke_Tests [failed again](http://aspnetci/viewLog.html?buildId=517878&buildTypeId=XPlat_Windows_Win7_Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-29 09:02] ryanbrandenburg commented on #861
PublishAndRun_Test [failed again](http://aspnetci/viewLog.html?buildId=517986&buildTypeId=XPlat_Windows_Win2008r2_Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-29 09:02] ryanbrandenburg commented on #848
Smoke_Tests [failed again](http://aspnetci/viewLog.html?buildId=517986&buildTypeId=XPlat_Windows_Win2008r2_Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-29 13:03] ryanbrandenburg commented on #861
PublishAndRun_Test [failed again](http://aspnetci/viewLog.html?buildId=518163&buildTypeId=Lite_UniverseTest).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-29 13:03] ryanbrandenburg commented on #848
Smoke_Tests [failed again](http://aspnetci/viewLog.html?buildId=518163&buildTypeId=Lite_UniverseTest).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-29 21:00] ryanbrandenburg commented on #861
PublishAndRun_Test [failed again](http://aspnetci/viewLog.html?buildId=518306&buildTypeId=Lite_MusicStore).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-29 21:00] ryanbrandenburg commented on #848
Smoke_Tests [failed again](http://aspnetci/viewLog.html?buildId=518306&buildTypeId=Lite_MusicStore).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-30 01:01] ryanbrandenburg commented on #848
Smoke_Tests [failed again](http://aspnetci/viewLog.html?buildId=518436&buildTypeId=Releases_22xPublic_Win2012).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-30 01:01] ryanbrandenburg commented on #861
PublishAndRun_Test [failed again](http://aspnetci/viewLog.html?buildId=518436&buildTypeId=Releases_22xPublic_Win2012).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-30 01:07] ryanbrandenburg commented on #861
PublishAndRun_Test [failed again](http://aspnetci/viewLog.html?buildId=518392&buildTypeId=XPlat_Windows_Win8_Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-30 01:07] ryanbrandenburg commented on #848
Smoke_Tests [failed again](http://aspnetci/viewLog.html?buildId=518392&buildTypeId=XPlat_Windows_Win8_Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-30 01:08] ryanbrandenburg commented on #861
PublishAndRun_Test [failed again](http://aspnetci/viewLog.html?buildId=518379&buildTypeId=XPlat_Windows_Win2008r2_Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-30 01:08] ryanbrandenburg commented on #848
Smoke_Tests [failed again](http://aspnetci/viewLog.html?buildId=518379&buildTypeId=XPlat_Windows_Win2008r2_Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-30 01:08] ryanbrandenburg commented on #861
PublishAndRun_Test [failed again](http://aspnetci/viewLog.html?buildId=518375&buildTypeId=XPlat_Windows_Win7_Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-30 01:08] ryanbrandenburg commented on #848
Smoke_Tests [failed again](http://aspnetci/viewLog.html?buildId=518375&buildTypeId=XPlat_Windows_Win7_Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-30 01:09] ryanbrandenburg commented on #861
PublishAndRun_Test [failed again](http://aspnetci/viewLog.html?buildId=518373&buildTypeId=XPlat_Windows_Win10Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-30 01:09] ryanbrandenburg commented on #848
Smoke_Tests [failed again](http://aspnetci/viewLog.html?buildId=518373&buildTypeId=XPlat_Windows_Win10Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-30 03:00] ryanbrandenburg commented on #848
Smoke_Tests [failed again](http://aspnetci/viewLog.html?buildId=518450&buildTypeId=Lite_UniverseTest).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-30 03:00] ryanbrandenburg commented on #861
PublishAndRun_Test [failed again](http://aspnetci/viewLog.html?buildId=518450&buildTypeId=Lite_UniverseTest).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-30 13:01] ryanbrandenburg commented on #848
Smoke_Tests [failed again](http://aspnetci/viewLog.html?buildId=518510&buildTypeId=Releases_22xPublic_Win2012).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-30 13:01] ryanbrandenburg commented on #861
PublishAndRun_Test [failed again](http://aspnetci/viewLog.html?buildId=518510&buildTypeId=Releases_22xPublic_Win2012).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-30 15:00] ryanbrandenburg commented on #861
PublishAndRun_Test [failed again](http://aspnetci/viewLog.html?buildId=518585&buildTypeId=Releases_22xPublic_Win2012).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-30 15:00] ryanbrandenburg commented on #848
Smoke_Tests [failed again](http://aspnetci/viewLog.html?buildId=518585&buildTypeId=Releases_22xPublic_Win2012).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-30 21:08] ryanbrandenburg commented on #861
PublishAndRun_Test [failed again](http://aspnetci/viewLog.html?buildId=518699&buildTypeId=Releases_22xPublic_Win2012).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-30 21:08] ryanbrandenburg commented on #848
Smoke_Tests [failed again](http://aspnetci/viewLog.html?buildId=518699&buildTypeId=Releases_22xPublic_Win2012).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-30 21:14] ryanbrandenburg commented on #861
PublishAndRun_Test [failed again](http://aspnetci/viewLog.html?buildId=518651&buildTypeId=XPlat_Windows_Win8_Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-30 21:14] ryanbrandenburg commented on #848
Smoke_Tests [failed again](http://aspnetci/viewLog.html?buildId=518651&buildTypeId=XPlat_Windows_Win8_Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-30 21:14] ryanbrandenburg commented on #861
PublishAndRun_Test [failed again](http://aspnetci/viewLog.html?buildId=518638&buildTypeId=XPlat_Windows_Win2008r2_Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-30 21:15] ryanbrandenburg commented on #848
Smoke_Tests [failed again](http://aspnetci/viewLog.html?buildId=518638&buildTypeId=XPlat_Windows_Win2008r2_Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-30 21:15] ryanbrandenburg commented on #861
PublishAndRun_Test [failed again](http://aspnetci/viewLog.html?buildId=518634&buildTypeId=XPlat_Windows_Win7_Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-30 21:15] ryanbrandenburg commented on #848
Smoke_Tests [failed again](http://aspnetci/viewLog.html?buildId=518634&buildTypeId=XPlat_Windows_Win7_Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-30 21:16] ryanbrandenburg commented on #848
Smoke_Tests [failed again](http://aspnetci/viewLog.html?buildId=518632&buildTypeId=XPlat_Windows_Win10Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-30 21:16] ryanbrandenburg commented on #861
PublishAndRun_Test [failed again](http://aspnetci/viewLog.html?buildId=518632&buildTypeId=XPlat_Windows_Win10Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-30 23:38] ryanbrandenburg commented on #861
PublishAndRun_Test [failed again](http://aspnetci/viewLog.html?buildId=518926&buildTypeId=Lite_UniverseTest).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-30 23:38] ryanbrandenburg commented on #848
Smoke_Tests [failed again](http://aspnetci/viewLog.html?buildId=518926&buildTypeId=Lite_UniverseTest).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-30 23:45] ryanbrandenburg commented on #861
PublishAndRun_Test [failed again](http://aspnetci/viewLog.html?buildId=518816&buildTypeId=XPlat_Windows_Win2008r2_Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-30 23:45] ryanbrandenburg commented on #848
Smoke_Tests [failed again](http://aspnetci/viewLog.html?buildId=518816&buildTypeId=XPlat_Windows_Win2008r2_Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-30 23:45] ryanbrandenburg commented on #848
Smoke_Tests [failed again](http://aspnetci/viewLog.html?buildId=518812&buildTypeId=XPlat_Windows_Win7_Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-30 23:45] ryanbrandenburg commented on #861
PublishAndRun_Test [failed again](http://aspnetci/viewLog.html?buildId=518812&buildTypeId=XPlat_Windows_Win7_Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-31 01:01] ryanbrandenburg commented on #861
PublishAndRun_Test [failed again](http://aspnetci/viewLog.html?buildId=519073&buildTypeId=Releases_22xPublic_Win2012).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-31 01:01] ryanbrandenburg commented on #848
Smoke_Tests [failed again](http://aspnetci/viewLog.html?buildId=519073&buildTypeId=Releases_22xPublic_Win2012).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-31 01:07] ryanbrandenburg commented on #861
PublishAndRun_Test [failed again](http://aspnetci/viewLog.html?buildId=519050&buildTypeId=XPlat_Windows_Win2008r2_Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-31 01:07] ryanbrandenburg commented on #848
Smoke_Tests [failed again](http://aspnetci/viewLog.html?buildId=519050&buildTypeId=XPlat_Windows_Win2008r2_Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-31 01:08] ryanbrandenburg commented on #861
PublishAndRun_Test [failed again](http://aspnetci/viewLog.html?buildId=519091&buildTypeId=Lite_UniverseTest).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-31 01:08] ryanbrandenburg commented on #848
Smoke_Tests [failed again](http://aspnetci/viewLog.html?buildId=519091&buildTypeId=Lite_UniverseTest).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-31 01:14] ryanbrandenburg commented on #861
PublishAndRun_Test [failed again](http://aspnetci/viewLog.html?buildId=519046&buildTypeId=XPlat_Windows_Win7_Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-31 01:14] ryanbrandenburg commented on #848
Smoke_Tests [failed again](http://aspnetci/viewLog.html?buildId=519046&buildTypeId=XPlat_Windows_Win7_Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-31 17:46] jkotalik commented on #861
https://github.com/aspnet/MusicStore/pull/862 should fix this issue. 2.1 shouldn't have been run with IIS in-proc.

[2018-07-31 17:46] #861 closed

[2018-08-15 00:38] ryanbrandenburg commented on #848
PublishAndRun_Test [failed with about the same error](http://aspnetci/viewLog.html?buildId=531083&buildTypeId=Lite_UniverseTest) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-16 01:01] ryanbrandenburg commented on #848
NtlmAuthenticationTest [failed with about the same error](http://aspnetci/viewLog.html?buildId=532093&buildTypeId=XPlat_Windows_Win8_Universe) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-17 00:03] ryanbrandenburg commented on #848
NtlmAuthenticationTest [failed with about the same error](http://aspnetci/viewLog.html?buildId=533284&buildTypeId=XPlat_Windows_Win7_Universe) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-18 00:02] ryanbrandenburg commented on #848
NtlmAuthenticationTest [failed with about the same error](http://aspnetci/viewLog.html?buildId=534200&buildTypeId=Lite_UniverseTest) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-04 03:18] thusithagh opened #866 "Build fails in VS 2017"
Restoring nuget packages fails, hence the build fails in VS2017.

Error:
NuGet package restore canceled.
Error occurred while restoring NuGet packages: The feed 'dotnet-core [https://dotnet.myget.org/F/dotnet-core/api/v3/index.json]' lists package 'runtime.win-x64.Microsoft.NETCore.DotNetHostPolicy.2.2.0-preview1-26618-02' but multiple attempts to download the nupkg have failed. The feed is either

[2018-09-13 00:31] aspnet-hello commented on #848
DotnetRun_Tests [failed with about the same error](http://aspnetci/viewLog.html?buildId=552876&buildTypeId=XPlat_Mac_MacUniverseCoreCLR) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-13 17:35] mkArtakMSFT commented on #848
Thanks @ryanbrandenburg.
@dougbu, can you please fix this? Thanks!

[2018-09-13 19:43] dougbu commented on #848
`DotnetRun_Tests` failure 18 hours ago ([above](https://github.com/aspnet/MusicStore/issues/848#issuecomment-420842757)) was a `RequestTimeout` with Kestrel. That failure looks very much like aspnet/KestrelHttpServer#2850 and I've therefore reopened the bug. @halter73 please confirm the fix for that bug was correctly merged into the `master` branch.

In particular, note the short period covered in

[2018-09-13 19:45] dougbu commented on #848
@halter73 if you agree this is a variant of aspnet/KestrelHttpServer#2850, please take this issue. If not, please suggest where I should look instead.

/cc @davidfowl

[2018-09-17 23:44] #848 closed

[2018-09-20 20:43] aspnet-hello opened #867 "Test failure: NtlmAuthenticationTest"
This test [fails](http://aspnetci/viewLog.html?buildId=557737&buildTypeId=XPlat_Windows_Win8_Universe) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on master.

CC @mkArtakMSFT

This issue was made automatically. If there is a problem contact rya

[2018-09-20 20:43] aspnet-hello commented on #867
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-09-20 20:43] aspnet-hello opened #868 "Test failure: PublishAndRun_Test"
This test [fails](http://aspnetci/viewLog.html?buildId=557737&buildTypeId=XPlat_Windows_Win8_Universe) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on master.

CC @mkArtakMSFT

This issue was made automatically. If there is a problem contact rya

[2018-09-20 20:43] aspnet-hello commented on #868
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-09-20 20:43] aspnet-hello commented on #868
PublishAndRun_Test [failed with about the same error](http://aspnetci/viewLog.html?buildId=557737&buildTypeId=XPlat_Windows_Win8_Universe) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-20 20:43] aspnet-hello commented on #867
Smoke_Tests [failed with about the same error](http://aspnetci/viewLog.html?buildId=557737&buildTypeId=XPlat_Windows_Win8_Universe) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-20 20:48] mkArtakMSFT commented on #868
@pranavkm, can you please take a look at this? Thanks!

[2018-09-20 20:48] mkArtakMSFT commented on #867
@pranavkm, this one is probably related as they started at the same time: https://github.com/aspnet/MusicStore/issues/868

[2018-09-20 22:20] pranavkm commented on #868
Seems like a Kestrel thing:

[code]

Did we pick up a bad package?

[2018-09-21 01:43] aspnet-hello commented on #868
OpenIdConnectTestSuite [failed with about the same error](http://aspnetci/viewLog.html?buildId=558038&buildTypeId=XPlat_Windows_Win8_Universe) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-21 01:43] aspnet-hello commented on #867
Smoke_Tests [failed with about the same error](http://aspnetci/viewLog.html?buildId=558038&buildTypeId=XPlat_Windows_Win8_Universe) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-21 18:47] ryanbrandenburg commented on #868
This is the same issue as aspnet/Home#3544.

[2018-09-21 19:33] aspnet-hello opened #869 "Test failure: Smoke_Tests"
This test [fails](http://aspnetci/viewLog.html?buildId=558373&buildTypeId=XPlat_Windows_Win2008r2_Universe) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on master.

CC @mkArtakMSFT

This issue was made automatically. If there is a problem contac

[2018-09-21 19:33] aspnet-hello commented on #869
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-09-21 19:33] aspnet-hello commented on #869
Smoke_Tests [failed with about the same error](http://aspnetci/viewLog.html?buildId=558373&buildTypeId=XPlat_Windows_Win2008r2_Universe) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-21 20:35] mkArtakMSFT commented on #869
@dougbu, can you please look into this? Thanks!

[2018-09-21 23:11] dougbu commented on #869
Looks like a dependency issue involving System.IO.Pipelines, System.Memory and System.Runtime.CompilerServices.Unsafe. Will update dependencies and try to reproduce locally, then examine the dependency graph&hellip;

/cc @halter73 @pakrym

[2018-09-22 00:03] aspnet-hello commented on #868
There were 8 failures [with about the same error](http://aspnetci/viewLog.html?buildId=558745&buildTypeId=Lite_UniverseTest) on master:
- PublishAndRun_Test
- PublishAndRun_Test
- PublishAndRun_Test
- PublishAndRun_Test
- PublishAndRun_Test
- OpenIdConnectTestSuite
- PublishAndRun_Test
- DotnetRun_Tests

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-22 00:03] aspnet-hello commented on #867
There were 3 failures [with about the same error](http://aspnetci/viewLog.html?buildId=558745&buildTypeId=Lite_UniverseTest) on master:
- NtlmAuthenticationTest
- NtlmAuthenticationTest
- OpenIdConnectTestSuite

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-22 00:03] aspnet-hello commented on #869
There were 6 failures [with about the same error](http://aspnetci/viewLog.html?buildId=558745&buildTypeId=Lite_UniverseTest) on master:
- Smoke_Tests
- Smoke_Tests
- Smoke_Tests
- Smoke_Tests
- Smoke_Tests
- Smoke_Tests

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-22 00:10] dougbu commented on #869
Likely related to aspnet/Home#3544 (thanx for the pointer @ryanbrandenburg!)

[2018-09-23 02:53] aspnet-hello commented on #869
There were 6 failures [with about the same error](http://aspnetci/viewLog.html?buildId=559368&buildTypeId=XPlat_Windows_Win8_Universe) on master:
- Smoke_Tests
- Smoke_Tests
- Smoke_Tests
- Smoke_Tests
- Smoke_Tests
- Smoke_Tests

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-23 02:53] aspnet-hello commented on #867
There were 3 failures [with about the same error](http://aspnetci/viewLog.html?buildId=559368&buildTypeId=XPlat_Windows_Win8_Universe) on master:
- NtlmAuthenticationTest
- NtlmAuthenticationTest
- OpenIdConnectTestSuite

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-23 02:53] aspnet-hello commented on #868
There were 8 failures [with about the same error](http://aspnetci/viewLog.html?buildId=559368&buildTypeId=XPlat_Windows_Win8_Universe) on master:
- PublishAndRun_Test
- OpenIdConnectTestSuite
- PublishAndRun_Test
- PublishAndRun_Test
- PublishAndRun_Test
- PublishAndRun_Test
- PublishAndRun_Test
- DotnetRun_Tests

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-24 16:48] dougbu commented on #869
Note: This is not about _flaky_ tests. The tests are obviously broken at the moment -- they haven't succeeded since about the 18th where they're enabled e.g. Win10-Universe.

[2018-09-24 17:33] dougbu commented on #869
Searched a diagnostic build log and found no version conflicts for System.Runtime.CompilerServices.Unsafe, System.Memory or System.IO.Pipelines.

Resolved versions are as expected:
- System.Runtime.CompilerServices.Unsafe: 4.6.0-preview1-26907-04
- System.Memory: 4.5.0
- System.IO.Pipelines: 4.6.0-preview1-26907-04

Could not get the MusicStore site to file; problems appear specific to tests. Swit

[2018-09-24 20:53] aspnet-hello commented on #868
There were 8 failures [with about the same error](http://aspnetci/viewLog.html?buildId=560048&buildTypeId=XPlat_Windows_Win8_Universe) on master:
- OpenIdConnectTestSuite
- PublishAndRun_Test
- PublishAndRun_Test
- PublishAndRun_Test
- PublishAndRun_Test
- DotnetRun_Tests
- PublishAndRun_Test
- PublishAndRun_Test

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-24 20:53] aspnet-hello commented on #867
There were 3 failures [with about the same error](http://aspnetci/viewLog.html?buildId=560048&buildTypeId=XPlat_Windows_Win8_Universe) on master:
- NtlmAuthenticationTest
- OpenIdConnectTestSuite
- NtlmAuthenticationTest

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-24 20:53] aspnet-hello commented on #869
There were 6 failures [with about the same error](http://aspnetci/viewLog.html?buildId=560048&buildTypeId=XPlat_Windows_Win8_Universe) on master:
- Smoke_Tests
- Smoke_Tests
- Smoke_Tests
- Smoke_Tests
- Smoke_Tests
- Smoke_Tests

This comment was made automatically. If there is a problem contact ryanbrandenburg.